<app-page [pageTitle]="pageTitle">
  <app-committee-year [committeeYear]="committeeYear" [notify]="notify"></app-committee-year>
  <app-dynamic-content [anchor]="BuiltInAnchor.COMMITTEE_YEARS" areaAsContentPath contentPathReadOnly/>
  <app-dynamic-content [anchor]="BuiltInAnchor.ACTION_BUTTONS" areaAsContentPath contentPathReadOnly/>
  <div class="row">
    <div class="col-sm-12">
      @if (showAlertMessage()) {
        <div class="row">
          <div class="col-sm-12 mb-10">
            <div class="alert {{notifyTarget.alertClass}}">
              <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
              @if (notifyTarget.alertTitle) {
                <strong>
                  {{ notifyTarget.alertTitle }}: </strong>
              } {{ notifyTarget.alertMessage }}
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</app-page>
