<app-page>
  <div class="row">
    <div class="col-sm-12">
      <tabset class="custom-tabset" *ngIf="committeeConfig">
        <tab heading="Committee Members">
          <div *ngIf="committeeConfig" class="img-thumbnail thumbnail-admin-edit">
            <div class="col-sm-12 mt-2 mb-2">
              <app-markdown-editor category="admin" name="committee-roles-help"
                                   description="Committee roles help"></app-markdown-editor>
            </div>
            <div class="col-sm-12">
              <app-committee-member [members]="members"
                                    [committeeMember]="committeeConfig.contactUs.chairman">
              </app-committee-member>
              <app-committee-member [members]="members"
                                    [committeeMember]="committeeConfig.contactUs.membership">
              </app-committee-member>
              <app-committee-member [members]="members"
                                    [committeeMember]="committeeConfig.contactUs.treasurer">
              </app-committee-member>
              <app-committee-member [members]="members"
                                    [committeeMember]="committeeConfig.contactUs.secretary">
              </app-committee-member>
              <app-committee-member [members]="members"
                                    [committeeMember]="committeeConfig.contactUs.social">
              </app-committee-member>
              <app-committee-member [members]="members"
                                    [committeeMember]="committeeConfig.contactUs.support">
              </app-committee-member>
              <app-committee-member [members]="members"
                                    [committeeMember]="committeeConfig.contactUs.walks">
              </app-committee-member>
            </div>
          </div>
        </tab>
        <tab heading="File Types">
          <div class="img-thumbnail thumbnail-admin-edit">
            <div class="row">
              <div class="col-sm-12 mt-2 mb-2">
                <app-markdown-editor category="admin" name="committee-file-types-help"
                                     description="Committee file types help"></app-markdown-editor>
              </div>
            </div>
            <div class="badge-button mb-3" (click)="addFileType()"
                 delay=500 tooltip="Add new file type">
              <fa-icon [icon]="faAdd"></fa-icon>
              Add new file type
            </div>
            <div *ngFor="let fileType of committeeConfig.fileTypes; let fileTypeIndex = index;" class="row">
              <div class="col-sm-8">
                <div class="form-group">
                  <label [for]="stringUtils.kebabCase('file-type', fileTypeIndex)">File Type</label>
                  <input [id]="stringUtils.kebabCase('file-type', fileTypeIndex)" type="text"
                         class="form-control input-sm"
                         placeholder="Enter File Type Description" [(ngModel)]="fileType.description">
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group mt-5">
                  <div class="custom-control custom-checkbox">
                    <input [(ngModel)]="fileType.public"
                           type="checkbox" class="custom-control-input"
                           [id]="stringUtils.kebabCase('public', fileTypeIndex)">
                    <label class="custom-control-label" [for]="stringUtils.kebabCase('public', fileTypeIndex)">
                      Visible by Public</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-1 mt-5">
                <div class="badge-button" (click)="deleteFileType(fileType)"
                     delay=500 tooltip="Delete file type">
                  <fa-icon [icon]="faClose"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
      <div *ngIf="notifyTarget.showAlert" class="row">
        <div class="col-sm-12 mb-10">
          <div class="alert {{notifyTarget.alert.class}}">
            <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
            <strong *ngIf="notifyTarget.alertTitle">
              {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <input type="submit" value="Save" (click)="save()"
             title="Save notification settings"
             [ngClass]="notReady() ? 'disabled-button-form button-form-left': 'button-form button-confirm green-confirm button-form-left'">
      <input type="submit" value="Cancel" (click)="cancel()"
             title="Cancel without saving"
             [ngClass]="notReady() ? 'disabled-button-form button-form-left': 'button-form button-confirm button-form-left'">
    </div>
  </div>
</app-page>
