<div *ngIf="committeeMember" class="form-group">
  <label [for]="stringUtils.kebabCase('committee-member-lookup',committeeMember?.memberId)">
    Link to Committee Member</label>
  <select [(ngModel)]="committeeMember.memberId"
          (ngModelChange)="publishMember($event)"
          class="form-control" [id]="stringUtils.kebabCase('committee-member-lookup',committeeMember?.memberId)">
    <option *ngFor="let member of committeeQueryService?.committeeMembers"
            [ngValue]="member.id"
            [textContent]="member | fullNameWithAlias">
    </option>
  </select>
</div>
