<div *ngIf="allow.edit && contentMetadata">
  <div class="row">
    <div class="col-sm-12 mt-2">
      <app-badge-button [icon]="faSave" caption="Save changes and exit" (click)="saveChangeAndExit()"
                        [disabled]="this.changedItems.length > 0"></app-badge-button>
      <app-badge-button [icon]="faSave" caption="Save" (click)="saveChanges()"
                        [disabled]="this.changedItems.length > 0"></app-badge-button>
      <app-badge-button [icon]="faUndo" caption="Exit without saving"
                        (click)="exitBackWithoutSaving()"></app-badge-button>
      <app-badge-button [icon]="faUndo" caption="Undo" (click)="undoChanges()"></app-badge-button>
      <app-badge-button [icon]="faSortNumericDown" caption="Sort by image date"
                        (click)="sortByDate()"></app-badge-button>
      <app-badge-button *ngIf="imagesExist()" [icon]="faSortNumericUp" caption="Reverse sort order"
                        (click)="reverseSortOrder()"></app-badge-button>
      <app-badge-button *ngIf="imagesExist()" [icon]="faEraser" caption="Clear Images"
                        (click)="clearImages()"></app-badge-button>
      <app-badge-button [icon]="faAdd" *ngIf="!imagesExist()" [caption]="'Create First Image'"
                        (click)="insertToEmptyList()"></app-badge-button>
      <app-badge-button *ngIf="contentMetadata?.imageTags?.length>0"
                        [icon]="faTags"
                        [caption]="manageTags?'Close Tags': 'Manage Tags'"
                        (click)="toggleManageTags()">
      </app-badge-button>
    </div>
    <div class="col-sm-12 mt-4">
      <div *ngIf="warningTarget.showAlert" class="flex-grow-1 alert {{warningTarget.alertClass}}">
        <fa-icon [icon]="warningTarget.alert.icon"></fa-icon>
        <strong *ngIf="warningTarget.alertTitle">
          {{warningTarget.alertTitle}}: </strong> {{warningTarget.alertMessage}}
      </div>
    </div>
  </div>
  <div class="row mb-2" *ngIf="manageTags">
    <div class="col-sm-12">
      <h6>Tag Management</h6>
      <app-tag-manager [contentMetadata]="contentMetadata"></app-tag-manager>
    </div>
  </div>
  <h6>Image Filtering</h6>
  <div class="custom-control custom-radio custom-control-inline">
    <input [disabled]="notifyTarget.busy" id="recent-photos-filter"
           type="radio"
           class="custom-control-input"
           [(ngModel)]="filterType"
           (ngModelChange)="filterFor('recent')"
           value="recent"/>
    <label class="custom-control-label" for="recent-photos-filter">Show recent photos</label>
  </div>
  <ng-container *ngIf="selectableTags().length>0">
    <div
      class="custom-control custom-radio custom-control-inline">
      <input [disabled]="notifyTarget.busy" id="tag-filter"
             type="radio"
             class="custom-control-input"
             [(ngModel)]="filterType"
             (ngModelChange)="filterFor('tag')"
             value="tag"/>
      <label class="custom-control-label" for="tag-filter">Show images tagged with:</label>
    </div>
    <div
      class="custom-control custom-radio custom-control-inline">
      <select [disabled]="filterType !== 'tag'"
              [ngModel]="activeTag?.subject"
              id="filterByTag"
              class="form-control"
              (ngModelChange)="filterByTag($event)">
        <option *ngFor="let imageTag of selectableTags(); trackBy: tagTracker"
                [ngValue]="imageTag.subject">{{imageTag.subject}}
      </select>
    </div>
  </ng-container>
  <div class="custom-control custom-radio custom-control-inline">
    <input [disabled]="notifyTarget.busy" id="all-photos-filter"
           type="radio"
           class="custom-control-input"
           [(ngModel)]="filterType"
           (ngModelChange)="filterFor('all')"
           value="all"/>
    <label class="custom-control-label" for="all-photos-filter">Show all photos</label>
  </div>
  <div class="row mb-3">
    <div class="col-sm-6">
      <label for="search">Filter images for text</label>
      <input [(ngModel)]="filterText" type="text"
             (ngModelChange)="onSearchChange($event)" class="form-control input-md rounded ml-8 w-100"
             id="search"
             placeholder="any text">
    </div>
    <div class="col-sm-6 mt-auto">
      <div class="custom-control custom-checkbox">
        <input
          [(ngModel)]="showDuplicates"
          (ngModelChange)="applyFilter()"
          type="checkbox" class="custom-control-input"
          id="show-duplicates">
        <label class="custom-control-label" for="show-duplicates">Show images that have duplicated
          images</label>
      </div>
    </div>
  </div>
  <h6>Pagination</h6>
  <div class="row">
    <div class="col-sm-12 mt-3 d-flex">
      <pagination class="pagination rounded" [boundaryLinks]=true [rotate]="true" [maxSize]="maxSize()"
                  [totalItems]="filteredFiles.length" [(ngModel)]="pageNumber"
                  (pageChanged)="pageChanged($event)"></pagination>
      <div *ngIf="notifyTarget.showAlert" class="flex-grow-1 alert {{notifyTarget.alertClass}}">
        <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
        <strong *ngIf="notifyTarget.alertTitle">
          {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">Carousel Name</label>
            <input [delay]="1000"
                   [tooltip]="imagesExist()? 'Carousel name cannot be changed after images have been created in it':''"
                   [disabled]="imagesExist()" type="text" [(ngModel)]="contentMetadata.name" id="name"
                   class="form-control">
          </div>
        </div>
        <div class="col-sm-6">
          <app-aspect-ratio-selector [label]="'Default Aspect Ratio'"
                                     [dimensionsDescription]="contentMetadata.aspectRatio"
                                     (dimensionsChanged)="dimensionsChanged($event)"></app-aspect-ratio-selector>
        </div>
      </div>
    </div>
  </div>
  <ng-container
    *ngFor="let imageMetaDataItem of currentPageImages;let index = index; trackBy: metadataItemTracker;">
    <app-image-edit [index]="index"
                    [contentMetadata]="contentMetadata"
                    [contentMetadataImageTags]="contentMetadata.imageTags"
                    [filteredFiles]="currentPageImages"
                    [item]="imageMetaDataItem"
                    (imageInsert)="imageInsert($event)"
                    (imageEdit)="imageEdit($event)"
                    (imageChange)="imageChange($event)"
                    (imagedSavedOrReverted)="imagedSavedOrReverted($event)"
                    (delete)="delete($event)"
                    (moveUp)="moveUp($event)"
                    (moveDown)="moveDown($event)">
    </app-image-edit>
  </ng-container>
</div>
