.walk-admin-thumbnail
  padding: 12px 0px 6px 0px
  min-height: 54px

.btn-group-custom
  display: inline-flex
  align-items: center
  align-self: center
  .btn
    display: inline-flex
    align-items: center
    padding: .75rem .85rem
    line-height: 1
    border-radius: 6px
    margin: 0
    vertical-align: middle
    .ms-1
      margin-left: .25rem

.pagination
  align-self: center
  margin-bottom: 0

.cards-view-spacing
  @media (max-width: 767.98px)
    margin-top: 0.5rem !important
    margin-bottom: 0.25rem !important
    margin-right: 0 !important
    flex-shrink: 1 !important
    width: 100% !important

    .pagination
      width: 100% !important
      display: flex !important

      .page-item
        flex: 1 1 0 !important

        &:last-child
          margin-right: 0 !important

      .page-link
        width: 100% !important
        text-align: center !important
