@media (min-width: 992px)
  :host
    --my-walks-action-width: 8.5rem

  :host ::ng-deep app-walks-search > .my-walks-action
    width: var(--my-walks-action-width)

  :host ::ng-deep app-dynamic-content-page > app-page > main > div > .page-content > app-dynamic-content > app-dynamic-content-view:has(> app-events-row app-walks-search > .my-walks-action) > app-dynamic-content-view-text-row:first-child > .row > .col-sm-12 > app-content-text-editor > [markdown]
    display: flow-root

    &::before
      content: ""
      float: right
      width: calc(var(--my-walks-action-width) + var(--space-4, 16px))
      height: calc(1rem + 1.5rem + 2px + var(--space-2, 8px) + var(--space-4, 16px))
