<div  style="font-size:12px">
    <p>This message is just to let you know that your walk on <strong  [textContent]="walk.walkDate | displayDate" class="nowrap"></strong> has been approved and is now published on our website!</p>
    <p *ngIf="event.reason"  [textContent]="event.reason"></p>
    <p>For info, the details of your walk are as follows:
        <app-walk-notification-details [data]="data"></app-walk-notification-details></p>
    <app-walk-notification-footer [data]="data"></app-walk-notification-footer>
</div>
