<ng-container *ngIf="actions.isTextRow(row)">
  <div [class]="actions.rowClasses(row)">
    <ng-container *ngFor="let column of row?.columns; let columnIndex = index;">
      <div [class]="'col-sm-' + (focusSensitiveColumns(column))">
        <!-- beginning of row content editing-->
        <div *ngIf="!column.rows" class="thumbnail-site-edit h-100">
          <div class="thumbnail-heading">Col {{columnIndex + 1}}</div>
          <app-markdown-editor #markdownEditorComponent
                               (saved)="actions.saveContentTextId($event, rowIndex, column, pageContent)"
                               (focusChange)="markdownEditorFocusChange($event)"
                               buttonsAvailableOnlyOnFocus queryOnlyById allowMaximise unlinkEnabled
                               [description]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, contentDescription)"
                               [id]="column?.contentTextId"
                               [initialView]="actions.view()"
                               [name]="actions.parentRowColFor(parentRowIndex, rowIndex, columnIndex)"
                               [category]="contentPath">
            <ng-container prepend>
              <div class="form-group">
                <label
                  [for]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'access-level-' + contentPath)">Access</label>
                <select [(ngModel)]="column.accessLevel"
                        [id]="actions.rowColumnIdentifierFor(rowIndex, columnIndex, 'access-level-' + contentPath)"
                        class="form-control input-sm">
                  <option *ngFor="let accessLevel of memberResourcesReferenceData.accessLevels()"
                          [textContent]="accessLevel.description"
                          [ngValue]="accessLevel.id">
                </select>
              </div>
              <div class="form-group">
                <app-column-width [column]="column" (expandToggle)="expanded=$event"/>
              </div>
              <app-badge-button (click)="editImage(rowIndex, columnIndex)"
                                [icon]="column.imageSource? faPencil : faAdd"
                                [caption]="(column?.imageSource ? 'edit' : 'add') + ' image'">
              </app-badge-button>
              <app-badge-button *ngIf="column.imageSource" (click)="removeImage(column)"
                                [icon]="faRemove"
                                [caption]="'remove image'">
              </app-badge-button>
              <app-badge-button *ngIf="column.imageSource" (click)="replaceImage(column, rowIndex, columnIndex)"
                                [icon]="faAdd"
                                [caption]="'replace image'">
              </app-badge-button>
              <app-actions-dropdown
                [markdownEditorComponent]="markdownEditorComponent"
                [columnIndex]="columnIndex"
                [pageContent]="pageContent"
                [column]="column"
                [row]="row">
              </app-actions-dropdown>
            </ng-container>
          </app-markdown-editor>
          <div *ngIf="imageSource(rowIndex, columnIndex, column?.imageSource) || editActive(rowIndex, columnIndex)"
               class="mt-2 mb-3">
            <div class="mb-2">
              <app-image-cropper-and-resizer
                *ngIf="editActive(rowIndex, columnIndex)"
                [preloadImage]="column?.imageSource"
                (imageChange)="imageChanged(rowIndex, columnIndex, $event)"
                (quit)="exitImageEdit(rowIndex, columnIndex)"
                (save)="imagedSaved(rowIndex, columnIndex, column, $event)">
              </app-image-cropper-and-resizer>
            </div>
            <app-card-image
              [borderRadius]="column?.imageBorderRadius"
              unconstrainedHeight
              [imageSource]="imageSource(rowIndex, columnIndex, column?.imageSource)">
            </app-card-image>
            <div class="row mt-2">
              <div [class]="imagePropertyColumnClasses(column)">
                <label [for]="actions.rowColumnIdentifierFor(rowIndex,columnIndex,'name')">
                  Image Source</label>
                <input [(ngModel)]="column.imageSource"
                       [id]="actions.rowColumnIdentifierFor(rowIndex,columnIndex,'name')"
                       type="text" class="form-control">
              </div>
              <div [class]="imagePropertyColumnClasses(column)">
                <label [for]="actions.rowColumnIdentifierFor(rowIndex,columnIndex,'image-border-radius')">
                  Border Radius</label>
                <input [(ngModel)]="column.imageBorderRadius"
                       [id]="actions.rowColumnIdentifierFor(rowIndex,columnIndex,'image-border-radius')"
                       type="number" class="form-control">
              </div>
            </div>
          </div>
        </div>
        <!-- end of row content editing-->
        <!-- start of column nested rows-->
        <div *ngIf="column.rows" class="thumbnail-site-edit">
          <div class="thumbnail-heading">Row {{rowIndex + 1}} column {{columnIndex + 1}}
            ({{stringUtils.pluraliseWithCount(column.rows?.length, 'nested row')}})
          </div>
          <div class="row align-items-end">
            <div class="col-auto">
              <app-actions-dropdown [pageContent]="pageContent"
                                    [columnIndex]="columnIndex"
                                    [row]="row"
                                    [column]="column">
              </app-actions-dropdown>
            </div>
            <div class="col">
              <app-column-width [column]="column" (expandToggle)="expanded=$event"></app-column-width>
            </div>
          </div>
          <div class="thumbnail-site-edit mt-3"
               *ngFor="let nestedRow of column.rows; let nestedRowIndex = index;">
            <div class="thumbnail-heading">Row {{rowIndex + 1}} (nested row {{nestedRowIndex + 1}}
              column {{columnIndex + 1}}
              ({{stringUtils.pluraliseWithCount(nestedRow?.columns.length, 'column')}}))
            </div>
            <div class="row align-items-end mb-3">
              <div [ngClass]="column.columns > 6 || expanded ? 'col': 'col-sm-12'">
                <app-margin-select label="Margin Top"
                                   [data]="nestedRow"
                                   field="marginTop">
                </app-margin-select>
              </div>
              <div class="col">
                <app-margin-select label="Margin Bottom"
                                   [data]="nestedRow"
                                   field="marginBottom">
                </app-margin-select>
              </div>
              <div class="col mt-3">
                <app-actions-dropdown [rowIndex]="nestedRowIndex"
                                      [pageContent]="pageContent"
                                      [rowIsNested]="true"
                                      [column]="column"
                                      [row]="nestedRow">
                </app-actions-dropdown>
              </div>
            </div>
            <app-dynamic-content-site-edit-text-row
              [row]="nestedRow"
              [parentRowIndex]="rowIndex"
              [rowIndex]="nestedRowIndex"
              [contentDescription]="contentDescription"
              [contentPath]="contentPath"
              [pageContent]="pageContent">
            </app-dynamic-content-site-edit-text-row>
          </div>
        </div>
        <!-- end of column nested rows-->
      </div>
    </ng-container>
  </div>
</ng-container>
