.column-input
  width: 44px
  padding-left: 6px
  padding-right: 6px

.interval-input
  width: 84px


.panel-border
  padding: 1rem
  border: 1px solid #dee2e6
  border-radius: .25rem

.rtl
  text-align: left
  direction: rtl

.ltr
  text-align: right

.right-justify-ellipsis
  text-align: right
  direction: rtl
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.compressed-view
  transform: scale(0.5)
  transform-origin: top left

.drag-handle
  display: none
  cursor: grab

.thumbnail-heading:hover > .drag-handle
  display: inline

.thumbnail-heading
  cursor: grab

.thumbnail-site-edit-top-bottom-margins
  user-select: auto

.empty-drop-zone
  border: 2px dashed #dee2e6
  border-radius: 6px
  min-height: 60px
  background-color: rgba(0,0,0,0.02)
