<ng-container *ngIf="siteEditService.active()">
  <ng-container *ngIf="notify.alertTarget.showAlert || !actions.pageContentFound(pageContent, queryCompleted)">
    <div *ngIf="notify.alertTarget.showAlert" class="col-12 alert {{notify.alertTarget.alertClass}} mt-3">
      <fa-icon [icon]="notify.alertTarget.alert.icon"></fa-icon>
      <strong class="ml-2">{{notify.alertTarget.alertTitle}}</strong>
      <span class="p-2">{{notify.alertTarget.alertMessage}}.
        <a *ngIf="canCreateContent()" (click)="createContent()"
           class="rams-text-decoration-pink"
           type="button">Create content</a>
        <a *ngIf="canGoToThatPage()" (click)="goToOtherPage()"
           class="rams-text-decoration-pink"
           type="button">Go to that page</a>
      </span>
    </div>
  </ng-container>
  <ng-container *ngIf="pageContent">
    <div class="card mb-2">
      <div class="card-body">
        <h4 class="card-title">Page content for {{pageContent.path}} (<small
          class="text-muted">{{stringUtils.pluraliseWithCount(pageContent?.rows.length, 'row')}}</small>)</h4>
        <ng-template #saveButtonsAndPath>
          <div class="form-inline">
            <app-badge-button (click)="savePageContent()"
                              delay=500 [tooltip]="'Save page changes'"
                              [icon]="faSave"
                              caption="Save page changes">
            </app-badge-button>
            <app-badge-button (click)="revertPageContent()"
                              delay=500 [tooltip]="'Revert page changes'"
                              [icon]="faUndo"
                              caption="Revert page changes">
            </app-badge-button>
            <app-badge-button *ngIf="insertableContent?.length > 0" (click)="insertData()"
                              delay=500 [tooltip]="'Insert missing data'"
                              [icon]="faAdd" caption="Insert data">
            </app-badge-button>
            <app-badge-button (click)="deletePageContent()"
                              [icon]="faRemove"
                              delay=500 caption="Delete page"
                              [tooltip]="deletePagContentTooltip()"
                              [disabled]="allReferringPages().length !== 0">
            </app-badge-button>
            <ng-container *ngIf="this.allReferringPageCount() > 0">
              <div class="align-middle">Referred to by: <a class="ml-1"
                                                           *ngFor="let referringPage of allReferringPages(); let linkIndex = index;"
                                                           [href]="referringPage">{{formatHref(referringPage)}}{{linkIndex < allReferringPageCount() - 1 ? ',' : ''}}</a>
              </div>
            </ng-container>
            <ng-container *ngIf="this.allReferringPageCount() === 0">
              <div class="align-middle">Not Referred to by any other pages or links</div>
            </ng-container>
          </div>
        </ng-template>
        <ng-container *ngTemplateOutlet="saveButtonsAndPath"></ng-container>
        <div class="row mt-2 align-items-end mb-3">
          <div [ngClass]="pageContentRowService.rowsSelected()? 'col-md-10' : 'col'">
            <form>
              <label class="mr-2" for="path">Content Path <span>{{contentPathReadOnly? "(not editable as this content is part of internal page)":""}}</span></label>
              <input [disabled]="contentPathReadOnly" autocomplete="nope" [typeahead]="pageContentService.siteLinks"
                     [typeaheadMinLength]="0" id="path"
                     [(ngModel)]="pageContent.path"
                     name="path"
                     [ngModelOptions]="{standalone: true}"
                     type="text" class="form-control">
            </form>
          </div>
          <ng-container *ngIf="pageContentRowService.rowsSelected()">
            <div class="col-sm-4  col-md-2">
              <label for="action">Action</label>
              <select class="form-control input-sm"
                      [(ngModel)]="action"
                      id="action">
                <option *ngFor="let action of contentActions"
                        [ngValue]="action">{{action}}</option>
              </select>
            </div>
            <div class="col-md-10 mt-3">
              <form>
                <label class="mr-2" for="move-or-copy-to-path">
                  {{action}}
                  {{stringUtils.pluraliseWithCount(pageContentRowService.selectedRowCount(), "row")}} to</label>
                <input id="move-or-copy-to-path"
                       [typeahead]="pageContentService.siteLinks"
                       name="destinationPath"
                       autocomplete="nope"
                       [typeaheadMinLength]="0"
                       [disabled]="!pageContentRowService.rowsSelected()"
                       (ngModelChange)="destinationPathLookupChange($event)"
                       [ngModel]="destinationPath"
                       type="text" class="form-control">
              </form>
            </div>
            <div class="col-sm-4 col-md-2 mt-3">
              <label for="before-after">Position</label>
              <select class="form-control input-sm"
                      [(ngModel)]="destinationPathInsertBeforeAfterIndex"
                      id="before-after">
                <option *ngFor="let insertionRow of insertionRowPosition"
                        [ngValue]="insertionRow.index">{{insertionRow.description}}</option>
              </select>
            </div>
            <div class="col-md-10 mt-3">
              <label for="insert-at-row">Row</label>
              <select class="form-control input-sm"
                      [(ngModel)]="destinationPathInsertionRowIndex"
                      (ngModelChange)="destinationPathInsertionRowIndexChange($event)"
                      id="insert-at-row">
                <option *ngFor="let insertionRow of insertionRowLookup"
                        [ngValue]="insertionRow.index">{{insertionRow.description}}</option>
              </select>
            </div>
            <div class="col mt-3">
              <button [disabled]="actionDisabled()"
                      delay=500 tooltip="{{action}} rows to {{destinationPath}}"
                      type="submit"
                      (click)="performCopyOrMoveAction()"
                      [ngClass]="buttonClass(!actionDisabled())">
                <fa-icon [icon]="faSave"></fa-icon>
                <span class="ml-2">Perform {{action}}</span>
              </button>
            </div>
          </ng-container>
        </div>
        <div class="thumbnail-site-edit-top-bottom-margins"
             *ngFor="let row of pageContent?.rows; let rowIndex = index;">
          <div class="thumbnail-heading">Row {{rowIndex + 1}}
            ({{stringUtils.pluraliseWithCount(row?.columns.length, 'column')}})
          </div>
          <div class="row align-items-end mb-3">
            <div class="col-auto">
              <label [for]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-type')">Row Type</label>
              <select class="form-control input-sm"
                      [(ngModel)]="row.type"
                      (ngModelChange)="changePageContentRowType($event, row)"
                      [id]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-type')">
                <option *ngFor="let type of enumKeyValuesForPageContentType"
                        [ngValue]="type.value">{{stringUtils.asTitle(type.value)}}</option>
              </select>
            </div>
            <div class="col-auto" app-row-settings-carousel
                 *ngIf="actions.isCarouselOrAlbum(row)" [row]="row">
            </div>
            <div class="col-auto" app-row-settings-action-buttons
                 *ngIf="actions.isActionButtons(row)" [row]="row"></div>
            <div class="col-auto">
              <div class="form-inline">
                <div app-margin-select label="Margin Top"
                     [data]="row"
                     field="marginTop" class="mr-4">
                </div>
                <div app-margin-select label="Margin Bottom"
                     [data]="row"
                     field="marginBottom">
                </div>
              </div>
            </div>
            <div class="col-auto">
              <div class="form-inline float-right">
                <app-actions-dropdown [rowIndex]="rowIndex"
                                      [pageContent]="pageContent"
                                      [row]="row">
                </app-actions-dropdown>
                <app-bulk-action-selector [row]="row"></app-bulk-action-selector>
              </div>
            </div>
          </div>
          <app-action-buttons *ngIf="actions.isActionButtons(row)"
                              [pageContent]="pageContent"
                              [rowIndex]="rowIndex">
          </app-action-buttons>
          <ng-container *ngIf="actions.isCarouselOrAlbum(row)">
            <div *ngIf="!editActive(rowIndex)" class="row">
              <div class="col-sm-6">
                <app-carousel *ngIf="actions.isCarousel(row)"
                              [carouselData]="albumData(row)"
                              [hideStoryNavigator]="true"
                              [index]="actions.carouselOrAlbumIndex(row, pageContent)"></app-carousel>
                <app-album preview *ngIf="actions.isAlbum(row)"
                              [album]="albumData(row)"
                              [index]="actions.carouselOrAlbumIndex(row, pageContent)"></app-album>
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-auto">
                    <div class="custom-control custom-checkbox">
                      <input [(ngModel)]="row.carousel.showStoryNavigator"
                             type="checkbox" class="custom-control-input"
                             [id]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-show-story-navigator')">
                      <label class="custom-control-label"
                             [for]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-show-story-navigator')">Show
                        Story Navigator</label>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-checkbox">
                      <input [(ngModel)]="row.carousel.showIndicators"
                             type="checkbox" class="custom-control-input"
                             [id]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-show-story-indicators')">
                      <label class="custom-control-label"
                             [for]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-show-story-indicators')">
                        Show Indicators</label>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="custom-control custom-checkbox">
                      <input [(ngModel)]="row.carousel.allowSwitchView"
                             type="checkbox" class="custom-control-input"
                             [id]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-allow-switch-view')">
                      <label class="custom-control-label"
                             [for]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-allow-switch-view')">
                        Allow Switch View</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-auto">
                    <div class="form-group">
                      <label [for]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-album-view')">
                        Album View</label>
                      <select class="form-control input-sm"
                              [(ngModel)]="row.carousel.albumView"
                              [id]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-album-view')">
                        <option *ngFor="let type of enumKeyValuesForAlbumView"
                                [ngValue]="type.value">{{stringUtils.asTitle(type.value)}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-auto">
                    <div class="form-group">
                      <label [for]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-slide-interval')">
                        Slide interval in seconds</label>
                      <input [id]="actions.rowColumnIdentifierFor(rowIndex, 0, this.contentPath + '-slide-interval')"
                             #input (input)="row.carousel.slideInterval=actions.constrainInput(input, 0,30) * 1000"
                             [value]="row.carousel.slideInterval/1000"
                             autocomplete="columns"
                             class="form-control interval-input"
                             type="number">
                    </div>
                  </div>
                </div>
                <app-badge-button [icon]="faPencil" (click)="toggleEditMode(rowIndex)"
                                  [caption]="'Edit'"></app-badge-button>
              </div>
            </div>
            <app-image-list-edit *ngIf="editActive(rowIndex)" [name]="row.carousel.name"
                                 (exit)="toggleEditMode(rowIndex)"></app-image-list-edit>
          </ng-container>
          <app-dynamic-content-site-edit-text-row
            [row]="row"
            [rowIndex]="rowIndex"
            [contentDescription]="contentDescription"
            [contentPath]="contentPath"
            [pageContent]="pageContent">
          </app-dynamic-content-site-edit-text-row>
        </div>
        <ng-container *ngTemplateOutlet="saveButtonsAndPath"></ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>
