<span>
<table style="cellpadding:10; border:1px solid lightgrey;border-collapse:collapse;width: 100%;border-spacing: 5px;">
    <thead>
    <tr>
        <th style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Expense Date</th>
        <th style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Item Description</th>
        <th style="border:1px solid lightgrey; font-weight: bold; padding: 6px; text-align:right">Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let expenseItem of expenseClaim.expenseItems">
        <td style="border:1px solid lightgrey; padding: 6px" [textContent]="expenseItem.expenseDate | displayDate"></td>
        <td style="border:1px solid lightgrey; padding: 6px">
            <div [textContent]="display.prefixedExpenseItemDescription(expenseItem)"></div>
            <div *ngIf="expenseItem.receipt"> receipt: <a target="_blank" [href]="display.receiptUrl(expenseItem)" [textContent]="display.receiptTitle(expenseItem)"></a></div>
        </td>
        <td style="border:1px solid lightgrey; padding: 6px;text-align:right" [textContent]="expenseItem.cost | asMoney"></td>
    </tr>
    <tr>
        <td colspan="2" style="border:1px solid lightgrey; font-weight: bold; padding: 6px" [textContent]="expenseClaim.expenseItems.length + ' item(s)'"></td>
        <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px; text-align:right" [textContent]="expenseClaim.cost | asMoney"></td>
    </tr>
    </tbody>
</table>
</span>
