<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Return <em>Expense Claim</em></h4>
    <button type="button" class="close float-right" aria-label="Close" (click)="bsModalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <h5>You are about to return the Expense Claim
      for {{display.expenseClaimCreatedEvent(expenseClaim).memberId | memberIdToFullName : members}}</h5>
    <ul class="list-arrow">
      <li>Please enter a reason for the return below.</li>
      <li>An email will then be sent to them informing them of this reason.</li>
    </ul>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="return-reason">Return Reason</label>
          <textarea [disabled]="notifyTarget.busy" [(ngModel)]="returnReason" type="text"
                    class="form-control input-sm" rows="3"
                    id="return-reason"
                    placeholder="Enter return reason here"></textarea>
        </div>
      </div>
    </div>
    <div *ngIf="notifyTarget.showAlert" class="row mb-2">
      <div class="col-sm-12">
        <div class="alert {{notifyTarget.alertClass}}">
          <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
          <strong
            *ngIf="notifyTarget.alertTitle">
            {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" value="Confirm Return" [disabled]="disabled()"
           (click)="confirmReturnExpenseClaim(returnReason)" title="Confirm return of this Expense Claim"
           [ngClass]="disabled() ? 'disabled-button-form button-form-left': 'button-form amber-confirm button-form-left'">
    <input type="submit" value="Cancel Return" [disabled]="notifyTarget.busy" (click)="cancelReturnExpenseClaim()"
           title="Don't return this Expense Claim, just close this form"
           [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form green-confirm button-form-left'">
  </div>
</div>
