<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Pay <em>Expense Claim</em></h4>
    <button type="button" class="close float-end" aria-label="Close" (click)="bsModalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <h5>You are about to mark the Expense Claim for <strong
    [textContent]="display.expenseClaimCreatedEvent(expenseClaim).memberId | memberIdToFullName : members"></strong>
    as <strong>Paid</strong></h5>
    <ul class="list-arrow">
      <li>This should be done once the payment to their bank account has been organised.</li>
      <li>An email will now be sent to them informing them of this.</li>
    </ul>
    @if (notifyTarget.showAlert) {
      <div class="row mb-2">
        <div class="col-sm-12">
          <div class="alert {{notifyTarget.alertClass}}">
            <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
            @if (notifyTarget.alertTitle) {
              <strong
                >
              {{notifyTarget.alertTitle}}: </strong>
              } {{notifyTarget.alertMessage}}
            </div>
          </div>
        </div>
      }
    </div>
    <div class="modal-footer d-flex gap-2">
      <input type="submit" value="Confirm Paid" [disabled]="notifyTarget.busy" (click)="confirmPaidExpenseClaim()"
        title="Confirm this Expense Claim as Paid"
        class="btn btn-warning">
      <input type="submit" value="Cancel" [disabled]="notifyTarget.busy" (click)="cancelPaidExpenseClaim()"
        title="Don't mark this Expense Claim as paid, just close this form"
        class="btn btn-success">
    </div>
  </div>

