<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{ display.authorisedInUnityLabel }}</h4>
    <button type="button" class="close float-end" aria-label="Close" (click)="bsModalRef.hide()">&times;</button>
  </div>
  <div class="modal-body">
    <h5>You are about to mark the expense claim for <strong
    [textContent]="display.expenseClaimCreatedEvent(expenseClaim).memberId | memberIdToFullName : members"></strong>
    as <strong>{{ display.eventTypeDisplayDescription(display.eventTypes.paid) }}</strong></h5>
    <app-unity-expense-guidance class="d-block my-3" [mode]="UnityExpenseGuidanceMode.AUTHORISE"/>
    <ul class="list-arrow">
      <li>An email will be sent to them confirming that Unity has released the payment.</li>
    </ul>
    @if (notifyTarget.showAlert) {
      <div class="row mb-2">
        <div class="col-sm-12">
          <div class="alert {{notifyTarget.alertClass}}">
            <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
            @if (notifyTarget.alertTitle) {
              <strong
                >
              {{notifyTarget.alertTitle}}: </strong>
              } {{notifyTarget.alertMessage}}
            </div>
          </div>
        </div>
      }
    </div>
    <div class="modal-footer d-flex gap-2">
      <input type="submit" value="Confirm {{ display.authorisedInUnityLabel }}" [disabled]="notifyTarget.busy" (click)="confirmPaidExpenseClaim()"
        title="Confirm this expense is authorised in Unity and paid"
        class="btn btn-primary">
      <input type="submit" value="Cancel" [disabled]="notifyTarget.busy" (click)="cancelPaidExpenseClaim()"
        title="Close without marking this expense as paid"
        class="btn btn-quiet">
    </div>
  </div>

