<app-page autoTitle>
  <div class="row">
    @if (auditFilter) {
      <div [ngClass]="{'busy': notifyTarget.busy}" class="admin-frame rounded">
        <div class="admin-header-background rounded">
          <div class="admin-header-container">
            <div class="d-inline-flex align-items-center flex-wrap gap-2">
              <div class="form-group mb-0">
                <div class="input-group">
                  <span class="input-group-text"><fa-icon [icon]="faSearch"></fa-icon></span>
                  <input id="quick-search" [(ngModel)]="quickSearch"
                         (ngModelChange)="onSearchChange($event)"
                         name="quickSearch"
                         class="form-control input-md"
                         type="text" placeholder="Quick Search">
                </div>
              </div>
              <div class="form-group mb-0">
                <app-date-picker startOfDay id="filter-audit" size="md"
                                 label="Filter logins since"
                                 prependLabel="true"
                                 (change)="onFilterDateChange($event)"
                                 [value]="filterDateValue">
                </app-date-picker>
              </div>
              <div class="form-group d-flex align-items-center gap-2 flex-wrap">
                @if (confirm.noneOutstanding()) {
                  <input type="submit" [disabled]="notifyTarget.busy"
                         value="Back to admin"
                         (click)="backToAdmin()"
                         class="btn btn-secondary">
                }
                @if (confirm.noneOutstanding()) {
                  <input type="submit"
                         [disabled]="notifyTarget.busy || auditFilter.results.length==0"
                         value="Delete displayed audit"
                         (click)="confirm.as(ConfirmType.DELETE);"
                         class="btn btn-danger">
                }
                @if (confirm.deleteConfirmOutstanding()) {
                  <input type="submit"
                         [disabled]="notifyTarget.busy"
                         value="Confirm delete of {{auditFilter.results.length}} audit records"
                         (click)="deleteSelectedMemberAuditConfirm()"
                         class="btn btn-danger">
                }
                @if (confirm.deleteConfirmOutstanding()) {
                  <input type="submit"
                         [disabled]="notifyTarget.busy"
                         value="Cancel"
                         (click)="confirm.clear();"
                         class="btn btn-success">
                }
              </div>
            </div>
            <div class="row mt-2">
              @if (notifyTarget.showAlert) {
                <div class="col-md-12">
                  <div class="alert {{notifyTarget.alertClass}} mt-8">
                    <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
                    @if (notifyTarget.alertTitle) {
                      <strong>
                        {{ notifyTarget.alertTitle }}: </strong>
                    } {{ notifyTarget.alertMessage }}
                  </div>
                </div>
              }
            </div>
          </div>
          <div class="table-responsive">
            <table class="round tbl-green-g table-striped table-hover table-sm">
              <thead>
              <tr class="pointer">
                <th (click)="sortAuditBy('loginTime')">Time
                  @if (showAuditColumn('loginTime')) {
                    <span class="sorting-header"
                          [textContent]="auditFilter.sortDirection"></span>
                  }
                </th>
                <th (click)="sortAuditBy('userName')">User Name
                  @if (showAuditColumn('userName')) {
                    <span class="sorting-header"
                          [textContent]="auditFilter.sortDirection"></span>
                  }
                </th>
                <th (click)="sortAuditBy('member')">Full Name
                  @if (showAuditColumn('member')) {
                    <span class="sorting-header"
                          [textContent]="auditFilter.sortDirection"></span>
                  }
                </th>
                <th (click)="sortAuditBy('loginResponse.memberLoggedIn')">Login Successful
                  @if (showAuditColumn('loginResponse.memberLoggedIn')) {
                    <span class="sorting-header"
                          [textContent]="auditFilter.sortDirection"></span>
                  }
                </th>
                <th (click)="sortAuditBy('loginResponse.alertMessage')">Login AwsFileUploadResponseData
                  @if (showAuditColumn('loginResponse.alertMessage')) {
                    <span class="sorting-header"
                          [textContent]="auditFilter.sortDirection"></span>
                  }
                </th>
              </tr>
              </thead>
              <tbody>
                @for (memberAudit of auditFilter.results; track memberAudit.id) {
                  <tr>
                    <td class="nowrap">{{ memberAudit?.loginTime | displayDateAndTime }}</td>
                    <td>{{ memberAudit?.userName }}</td>
                    <td>{{ memberAudit?.member | fullNameWithAlias :'' }}</td>
                    <td [ngClass]="memberAudit?.loginResponse?.memberLoggedIn ? 'checkbox-on' : 'checkbox-off'"></td>
                    <td>{{ memberAudit?.loginResponse?.alertMessage }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    }
  </div>
</app-page>
