<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="mailing-preferences-modal-title-heading">Your
      <em>{{ systemConfig.group?.shortName }}</em> profile</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <div *ngIf="member" class="row">
      <div class="col col-sm-12">
        <p>In order to comply with the EU General Data Protection Regulation (GDPR), we need to confirm some details
          with you. Please make any changes you need and then click
          <b>Confirm these changes</b> below.
          If you click <b>Continue without confirming</b>, you'll get prompted each time you login.</p>

        <div class="well-subscriptions-confirmation">
          <p class="well-heading">Please select how you want to be <b>emailed</b> by us using the following
            subscription checkboxes below:</p>
          <app-email-subscriptions-mailchimp [member]="member"
                                             *ngIf="systemConfig?.mailDefaults?.mailProvider=== MailProvider.MAILCHIMP"/>
          <ng-container *ngIf="systemConfig?.mailDefaults?.mailProvider=== MailProvider.BREVO">
            <div class="col-sm-12" *ngFor="let subscription of mailMessagingService.memberSubscribableSubscriptions(member.mail.subscriptions)">
              <app-mail-subscription-setting [member]="member" [subscription]="subscription"/>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="col col-sm-12">
        <div class="well well-subscriptions-confirmation">
          <p class="well-heading">Please confirm the following <b>contact details</b> we hold for you. We'll use these
            when we need to contact you:</p>

          <div class="row">
            <div class="col col-sm-6">
              <div class="form-group">
                <label for="first-name">First Name</label>
                <input [(ngModel)]="member.firstName" type="text" class="form-control input-sm" id="first-name"
                       placeholder="Enter First Name here">
              </div>
            </div>
            <div class="col col-sm-6">
              <div class="form-group">
                <label for="last-name">Last Name</label>
                <input [(ngModel)]="member.lastName" type="text" required class="form-control input-sm" id="last-name"
                       placeholder="Enter Last Name here">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col col-sm-6">
              <div class="form-group">
                <label for="mobile-number">Mobile Number</label>
                <input [(ngModel)]="member.mobileNumber" type="text" required class="form-control input-sm"
                       id="mobile-number"
                       placeholder="Enter mobile number here">
              </div>
            </div>
            <div class="col col-sm-6">
              <div class="form-group">
                <label for="contact-email">Contact Email</label>
                <input [(ngModel)]="member.email" type="text" required class="form-control input-sm"
                       id="contact-email"
                       placeholder="Enter contact email here">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="notifyTarget.showAlert" class="row mb-2">
      <div class="col col-sm-12">
        <div class="alert {{notifyTarget.alertClass}}">
          <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
          <strong *ngIf="notifyTarget.alertTitle">
            {{ notifyTarget.alertTitle }}: </strong> {{ notifyTarget.alertMessage }}
          <span *ngIf="notifyTarget.showContactUs"> or contact our
                                                  <app-contact-us class="alert-link" roles="membership"
                                                                  text="Membership Administrator"></app-contact-us>.
                                              </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row col-sm-12">
      <input type="submit" value="Confirm these changes" (click)="save()" title="Confirm these changes"
             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
      <input type="submit" value="Continue without confirming" (click)="close()" title="Continue without confirming"
             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
    </div>
  </div>
</div>
