@if (config) {
  <label class="control-label" for="default-prefix">Description prefix: </label>
  <select class="form-control input-sm"
          [disabled]="inputDisabled"
          [(ngModel)]="config.defaultContent"
          (ngModelChange)="changeDefaultContent($event)"
          id="default-prefix">
    @for (contentTextItem of contentTextItems; track contentTextItem.id) {
      <option
        [ngValue]="contentTextItem.name"
        [textContent]="contentTextItem.name">
      </option>
    }
  </select>
  <label class="control-label mt-2" for="publish-status">Create as:</label>
  <select class="form-control"
          [disabled]="inputDisabled"
          [(ngModel)]="config.publishStatus" id="publish-status">
    @for (publishStatus of publishStatuses; track publishStatus) {
      <option
        [ngValue]="publishStatus"
        [textContent]="publishStatus">
      </option>
    }
  </select>
  <label class="control-label mt-2" for="guest-limit">RSVP limit:</label>
  <select class="form-control"
          [disabled]="inputDisabled"
          [(ngModel)]="config.guestLimit"
          (ngModelChange)="changeGuestLimit($event)"
          id="guest-limit">
    @for (guestLimit of guestLimits; track guestLimit) {
      <option
        [ngValue]="guestLimit"
        [textContent]="guestLimit">
      </option>
    }
  </select>
  <div class="form-check mt-2">
    <input [(ngModel)]="config.announce"
           [disabled]="inputDisabled"
           name="showDetail" class="form-check-input" type="checkbox" id="announce">
    <label class="form-check-label"
           for="announce">Announce
    </label>
  </div>
}
