primary_region = "lhr"

[http_service]
auto_start_machines = true
auto_stop_machines = false
force_https = true
internal_port = 5001
min_machines_running = 1
processes = ["app"]

[[http_service.checks]]
interval = "15s"
timeout = "5s"
grace_period = "60s"
method = "GET"
path = "/api/health"

[[vm]]
cpu_kind = "shared"
cpus = 1
