<div class="btn-group" dropdown>
  <button aria-controls="dropdown-animated" class="dropdown-toggle badge-button" dropdownToggle
          type="button">
    <fa-icon [icon]="faTableCells"></fa-icon>
    <span class="ml-2">Actions</span><span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu"
      id="dropdown-animated" role="menu">
    <li *ngIf="allowMoveRowUp()" role="menuitem">
      <a (click)="actions.moveRowUp(pageContent, rowIndex, rowIsNested, column)" class="dropdown-item">
        Move this <b>Row</b> up
      </a>
    </li>
    <li *ngIf="allowMoveRowDown()" role="menuitem">
      <a (click)="actions.moveRowDown(pageContent, rowIndex, rowIsNested, column)" class="dropdown-item">
        Move this <b>Row</b> down
      </a>
    </li>
    <li *ngIf="allowDeleteRow()" role="menuitem">
      <a (click)="actions.deleteRow(pageContent, rowIndex, rowIsNested, column)" class="dropdown-item">
        Delete this <b>Row</b>
      </a>
    </li>
    <li *ngIf="allowInsertNestedRows()" role="menuitem">
      <a (click)="actions.addNestedRows(column)" class="dropdown-item">
        Insert <b>Nested Rows</b>
      </a>
    </li>
    <li *ngIf="allowDeleteNestedRows()" role="menuitem">
      <a (click)="actions.removeNestedRows(column)" class="dropdown-item">
        Delete <b>Nested Rows</b>
      </a>
    </li>
    <li *ngIf="allowColumnActions()" role="menuitem">
      <a (click)="actions.addColumn(row, columnIndex, pageContent)" class="dropdown-item">
        Insert <b>Column</b> to left
      </a>
    </li>
    <li *ngIf="allowColumnActions()" role="menuitem">
      <a (click)="actions.addColumn(row, columnIndex+1, pageContent)" class="dropdown-item">
        Insert <b>Column</b> to right
      </a>
    </li>
    <li *ngIf="allowColumnDelete()" role="menuitem">
      <a (click)="actions.deleteColumn(row, columnIndex, pageContent)" class="dropdown-item">
        Delete <b>Column</b>
      </a>
    </li>
    <li *ngIf="allowTextRowActions()" role="menuitem">
      <a (click)="actions.addRow(rowIndex,'text', rows())" class="dropdown-item">
        Add <b>Row</b> above
      </a>
    </li>
    <li *ngIf="allowTextRowActions()" role="menuitem">
      <a (click)="actions.addRow(rowIndex + 1, 'text', rows())" class="dropdown-item">
        Add <b>Row</b> below
      </a>
    </li>
    <li *ngIf="allowActionButtonActions()" role="menuitem">
      <a (click)="actions.addRow(rowIndex, 'action-buttons', rows())" class="dropdown-item">
        Add <b>Action Buttons</b> above
      </a>
    </li>
    <li *ngIf="allowActionButtonActions()" role="menuitem">
      <a (click)="actions.addRow(rowIndex + 1, 'action-buttons', rows())" class="dropdown-item">
        Add <b>Action Buttons</b> below
      </a>
    </li>
  </ul>
</div>
