@if (showAlertMessage()) {
  <div class="row">
    <div class="col-md-12 mb-2">
      <div class="alert {{notifyTarget.alert.class}}">
        <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
        @if (notifyTarget.alertTitle) {
          <strong>
            {{ notifyTarget.alertTitle }}: </strong>
        } {{ notifyTarget.alertMessage }}
      </div>
    </div>
  </div>
}
@if (!hideFileSelection) {
  <div class="row">
    @if (false) {
      <div class="col">
        <label for="rotation">Rotation:</label>
      </div>
      <div class="col">
        <input id="rotation" [(ngModel)]="rotation" placeholder="Rotation" type="number"
               (keyup)="updateRotation()"
               class="form-control input-sm flex-grow-1"/>
      </div>
    }
    <input #fileElement class="d-none" type="file" ng2FileSelect multiple (onFileSelected)="onFileSelect($event)"
           [uploader]="uploader">
    <div class="col-6">
      <app-badge-button fullWidth [disabled]="notifyTarget.busy"
                        [icon]="faFile"
                        caption="Choose File"
                        (click)="browseToFile(fileElement)"/>
    </div>
    <div class="col-sm-6 align-self-center">
      <div ng2FileDrop [ngClass]="{'file-over': hasFileOver}"
           (fileOver)="fileOver($event)"
           (onFileDrop)="onFileDropped($event)"
           [uploader]="uploader"
           class="badge-drop-zone-single-height mb-2">Or drop file here
      </div>
    </div>
  </div>
}
<div class="row mt-2 mb-2">
  <div class="col-sm-12 img-fluid w-100"
       (mousedown)="$event.stopPropagation()"
       (pointerdown)="$event.stopPropagation()"
       (touchstart)="$event.stopPropagation()"
       (dragstart)="$event.stopPropagation(); $event.preventDefault()">
    @if (fileTypeAttributes?.croppable && originalFile) {
      <image-cropper
        [allowMoveImage]="true"
        [imageFile]="originalFile"
        [maintainAspectRatio]="maintainAspectRatio"
        [containWithinAspectRatio]="containWithinAspectRatio"
        [aspectRatio]="aspectRatio"
        [canvasRotation]="canvasRotation"
        [transform]="transform"
        (resize)="resized($event)"
        [alignImage]="'left'"
        [format]="format()"
        [imageQuality]="imageQuality"
        (transformChange)="transformChanged($event)"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded($event)"
        (cropperReady)="cropperReady($event)"
        (loadImageFailed)="loadImageFailed($event)"
        (error)="error($event)"/>
    }
  </div>
</div>
<div class="row">
  <div class="col-sm-6 mb-2">
    <app-aspect-ratio-selector [dimensionsDescription]="selectAspectRatio"
                               [disabled]="actionDisabled"
                               (initialised)="initialiseAspectRatioSettings($event)"
                               (dimensionsChanged)="changeAspectRatioSettingsAndCrop($event)"/>
  </div>
  @if (!cropOnlyMode) {
    <div class="col-sm-6 mb-2">
      <label for="compression">Compress to size ({{ imageQuality }}%):</label>
      <input type="range" min="1" max="100" value="90" step="1" class="form-range" id="compression"
             [attr.draggable]="false"
             (mousedown)="$event.stopPropagation()"
             (pointerdown)="$event.stopPropagation()"
             (touchstart)="$event.stopPropagation()"
             (dragstart)="$event.stopPropagation(); $event.preventDefault()"
             [disabled]="actionDisabled" (change)="changeRange($event, true)" (input)="changeRange($event, false)">
    </div>
  }
</div>
@if (imagePresent() && !cropOnlyMode) {
  <div class="row mb-2">
    <div class="col-sm-6">
      Original Size: {{ originalSize() }}
    </div>
    <div class="col-sm-6">
      Cropped Size: {{ croppedSize() }}
    </div>
  </div>
}
@if (uploader.progress) {
  <div class="row">
    <div class="col-sm-12 mb-2 mt-2">
      <div class="progress">
        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
          {{ action }} {{ uploader.progress }}%
        </div>
      </div>
    </div>
  </div>
}
<ng-template #buttonSet1>
  <div class="col pe-1">
    <app-badge-button fullWidth [disabled]="actionDisabled" (click)="rotateLeft()"
                      delay=500 tooltip="Rotate left"
                      [icon]="faRotateLeft" caption="left"/>
  </div>
  <div class="col pe-1">
    <app-badge-button fullWidth [disabled]="actionDisabled" (click)="rotateRight()"
                      delay=500 tooltip="Rotate right"
                      [icon]="faRotateRight" caption="right"/>
  </div>
  <div class="col pe-1">
    <app-badge-button fullWidth [disabled]="actionDisabled" (click)="flipHorizontal()"
                      delay=500 tooltip="Flip horizontal"
                      [icon]="faArrowRightArrowLeft" caption="flip"/>
  </div>
  <div class="col pe-1">
    <app-badge-button fullWidth [disabled]="actionDisabled" (click)="flipVertical()"
                      delay=500 tooltip="Flip vertical"
                      [icon]="faUpDown" caption="flip"/>
  </div>
  <div class="col" [ngClass]="{'pe-1': !wrapButtons}">
    <app-badge-button fullWidth [disabled]="actionDisabled" (click)="zoomIn()"
                      delay=500 tooltip="Zoom in"
                      [icon]="faMagnifyingGlassPlus"
                      caption="zoom"/>
  </div>
</ng-template>
<ng-template #buttonSet2>
  <div class="col pe-1">
    <app-badge-button fullWidth [disabled]="actionDisabled" (click)="zoomOut()"
                      delay=500 tooltip="Zoom out"
                      [icon]="faMagnifyingGlassMinus"
                      caption="zoom"/>
  </div>
  <div class="col pe-1">
    <app-badge-button fullWidth [disabled]="actionDisabled" (click)="resetImage()"
                      delay=500 tooltip="Reset image"
                      [icon]="faRedoAlt"
                      caption="reset"/>
  </div>
  <div class="col pe-1">
    <app-badge-button fullWidth (click)="toggleContainWithinAspectRatio()"
                      delay=500
                      [tooltip]="containWithinAspectRatio? 'fill aspect ratio' : 'contain within aspect ratio'"
                      [disabled]="actionDisabled"
                      [icon]="containWithinAspectRatio? faCompress: faExpand"
                      [caption]="containWithinAspectRatio ? 'fill' : 'contain'"/>
  </div>
  <div class="col pe-1">
    <app-badge-button fullWidth (click)="quit.next()"
                      delay=500 tooltip="quit without saving"
                      [icon]="faClose"
                      caption="quit"/>
  </div>
  @if (nonDestructive) {
    <div class="col pe-1">
      <app-badge-button fullWidth (click)="applyCrop()"
                        delay=500 tooltip="apply crop" [disabled]="!fileTypeAttributes"
                        [icon]="faSave"
                        caption="apply"/>
    </div>
  }
  @if (!nonDestructive) {
    <div class="col">
      <app-badge-button fullWidth (click)="saveImage()"
                        delay=500 tooltip="save changes" [disabled]="!fileTypeAttributes"
                        [icon]="faSave"
                        caption="save"/>
    </div>
  }
  @if (nonDestructive && allowPermanentSave) {
    <div class="col">
      <app-badge-button fullWidth (click)="saveImagePermanently()"
                        delay=500 tooltip="save image" [disabled]="!fileTypeAttributes"
                        [icon]="faSave"
                        caption="save image"/>
    </div>
  }
</ng-template>
@if (!hideActionButtons) {
  @if (cropOnlyMode) {
    <div class="row g-0">
      <div class="col pe-1">
        <app-badge-button fullWidth (click)="quit.next()"
                          delay=500 tooltip="quit without saving"
                          [icon]="faClose"
                          caption="quit"/>
      </div>
      <div class="col">
        <app-badge-button fullWidth (click)="applyCrop()"
                          delay=500 tooltip="apply crop" [disabled]="!fileTypeAttributes"
                          [icon]="faSave"
                          caption="apply"/>
      </div>
    </div>
  }
  @if (!cropOnlyMode && !wrapButtons) {
    <div class="row g-0">
      <ng-container *ngTemplateOutlet="buttonSet1"/>
      <ng-container *ngTemplateOutlet="buttonSet2"/>
    </div>
  }
  @if (!cropOnlyMode && wrapButtons) {
    <div class="row g-0">
      <ng-container *ngTemplateOutlet="buttonSet1"/>
    </div>
    <div class="row g-0">
      <ng-container *ngTemplateOutlet="buttonSet2"/>
    </div>
  }
}
