<ng-container *ngIf="display.walkPopulationWalksManager()">
  <div *ngIf="displayedWalk.walk.group" class="mb-2">
    <h1>Group</h1>
    <div>
      <div class="row">
        <div app-related-link [mediaWidth]="display.relatedLinksMediaWidth" class="col-sm-12">
          <fa-icon title tooltip="contact {{displayedWalk?.walk?.group.longName}}"
                   [icon]="faPeopleGroup"
                   class="fa-icon mr-1 pointer"></fa-icon>
          <a content target="_blank"
             [href]="urlFor(displayedWalk?.walk?.group.groupCode)">{{displayedWalk?.walk?.group.longName + " (" + displayedWalk?.walk?.group.groupCode + ")"}}</a>
        </div>
      </div>
    </div>
  </div>
</ng-container>
