<div *ngIf="displayedWalk" class="img-thumbnail event-thumbnail">
  <app-panel-expander [walk]="displayedWalk.walk" [expandable]="allowWalkAdminEdits"
                      [collapsable]="true" [collapseAction]="'collapse'">
  </app-panel-expander>
  <div class="row">
    <div [ngClass]="display.shouldShowFullDetails(displayedWalk)?'col-sm-12 col-lg-6':'col-sm-12'" class="rounded">
      <h1 *ngIf="display.shouldShowFullDetails(displayedWalk)"
          id="{{displayedWalk.walk.id}}-briefDescriptionAndStartPoint">{{displayedWalk.walk.briefDescriptionAndStartPoint}}</h1>
      <h2 id="{{displayedWalk.walk.id}}-walkDate">{{displayedWalk.walk.walkDate | displayDay}}
        <div id="{{displayedWalk.walk.id}}-durationInFuture"
             class="badge event-badge blue-badge">{{durationInFutureFor(displayedWalk.walk)}}</div>
        <div *ngIf="display.isNextWalk(displayedWalk.walk)"
             class="badge event-badge next-event-badge"> Our next walk
        </div>
      </h2>
      <h2 *ngIf="display.shouldShowFullDetails(displayedWalk) && displayedWalk.walk.startTime" name="startTime">
        Start Time: {{displayedWalk.walk.startTime}}</h2>
      <input *ngIf="displayedWalk?.walkAccessMode?.walkWritable" type="submit"
             [value]="displayedWalk?.walkAccessMode?.caption"
             (click)="display.edit(displayedWalk)"
             [tooltip]="displayedWalk?.walkAccessMode?.caption + ' this walk'"
             class="button-form button-form-edit-event mt-2 mr-2">
      <div *ngIf="display.shouldShowFullDetails(displayedWalk)" class="event-description">
        <p markdown [data]="displayedWalk?.walk?.longerDescription"></p>
      </div>
      <app-walk-leader [displayedWalk]="displayedWalk"></app-walk-leader>
      <div *ngIf="display.shouldShowFullDetails(displayedWalk) && displayLinks"
           class="event-panel rounded event-panel-inner">
        <h1>Related Links</h1>
        <div class="row">
          <div app-related-link [mediaWidth]="display.relatedLinksMediaWidth" *ngIf="displayedWalk.walk.meetupEventUrl"
               class="col-sm-12">
            <img title class="related-links-image"
                 src="/assets/images/local/meetup.ico"
                 alt="View {{meetupService.meetupPublishedStatus(displayedWalk)}} event on Meetup"/>
            <a content target="_blank"
               [href]="displayedWalk.walk.meetupEventUrl">
              <div class="related-links-title"
                   tooltip="Click to view the route for This Walk on Meetup">
                View {{meetupService.meetupPublishedStatus(displayedWalk)}} event on Meetup
              </div>
            </a>
          </div>
          <div app-related-link [mediaWidth]="display.relatedLinksMediaWidth" *ngIf="displayedWalk.walk.ramblersWalkId"
               class="col-sm-12">
            <img title class="related-links-ramblers-image"
                 src="favicon.ico"
                 alt="On Ramblers"/>
            <a content tooltip="Click to view on Ramblers Walks and Events Manager" target="_blank"
               [href]="displayedWalk.ramblersLink">On Ramblers</a>
          </div>
          <div app-related-link [mediaWidth]="display.relatedLinksMediaWidth" *ngIf="displayedWalk.walk.osMapsRoute"
               class="col-sm-12">
            <img title class="related-links-image"
                 src="/assets/images/local/ordnance-survey-untitled.png"
                 alt="View map on OS Maps"/>
            <a content tooltip="Click to view the route for This Walk on Ordnance Survey Maps"
               target="_blank"
               [href]="displayedWalk.walk.osMapsRoute">
              View map on OS Maps
            </a>
          </div>
          <div app-related-link [mediaWidth]="display.relatedLinksMediaWidth"
               *ngIf="displayedWalk.walk.startLocationW3w"
               class="col-sm-12">
            <img title class="w3w-image"
                 src="/assets/images/local/w3w.png"
                 alt="View start location in what3words"/>
            <a content tooltip="Click to view the start location in what3words"
               target="_blank"
               [href]="'https://what3words.com/'+displayedWalk.walk.startLocationW3w">
              View start location in what3words
            </a>
          </div>
          <div app-related-link [mediaWidth]="display.relatedLinksMediaWidth"
               *ngIf="displayedWalk?.walk?.venue?.venuePublish && (displayedWalk?.walk?.venue?.url||displayedWalk?.walk?.venue?.postcode)"
               class="col-sm-12">
            <fa-icon title [icon]="displayedWalk.walk.venue.type | toVenueIcon" class="fa-icon"></fa-icon>
            <a content tooltip="Click to visit {{displayedWalk.walk.venue.name}}"
               [href]="displayedWalk.walk.venue.url || googleMapsService.urlForPostcode(displayedWalk.walk.venue.postcode)"
               target="_blank">
              {{displayedWalk.walk.venue.type}}: {{displayedWalk.walk.venue.name}}
            </a>
          </div>
          <div app-related-link [mediaWidth]="display.relatedLinksMediaWidth" *ngIf="displayedWalk.walkLink"
               class="col-sm-12">
            <app-copy-icon title [value]="displayedWalk.walkLink"
                           [elementName]="'This Walk'"></app-copy-icon>
            <div content>
              <a [href]="displayedWalk.walkLink " target="_blank">This Walk</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="pathContainsWalkId">
        <div *ngIf="notifyTarget.showAlert" class="col-12 alert {{notifyTarget.alertClass}} mt-3">
          <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
          <strong class="ml-2">{{notifyTarget.alertTitle}}</strong>
          {{notifyTarget.alertMessage}} <a [routerLink]="'/walks'" type="button"
                                           class="rams-text-decoration-pink">Switch to Walks Programme</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 rounded" *ngIf="display.shouldShowFullDetails(displayedWalk)">
      <div class="row">
        <div class="col-sm-12">
          <iframe *ngIf="display.mapViewReady(googleMapsUrl)" class="map-thumbnail-image"
                  style="border:0;border-radius: 10px;"
                  [src]="googleMapsUrl" allowfullscreen></iframe>
        </div>
      </div>
      <form class="rounded img-thumbnail map-radio-frame">
        <label class="ml-2 mr-2 font-weight-bold">Show Map:</label>
        <div class="col-sm-12 ml-2 mr-2">
          <div class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" id="{{displayedWalk.walk.id}}-show-start-point"
                   type="radio"
                   class="custom-control-input"
                   [ngModel]="mapDisplay" name="mapDisplay"
                   (ngModelChange)="changeMapView($event)"
                   value="show-start-point"/>
            <label class="custom-control-label" for="{{displayedWalk.walk.id}}-show-start-point">
              At start point {{displayedWalk.walk.postcode}}</label>
          </div>
          <div *ngIf="displayedWalk.walk.postcodeFinish" class="custom-control custom-radio custom-control-inline">
            <input class="custom-control-input" id="{{displayedWalk.walk.id}}-show-end-point"
                   type="radio"
                   class="custom-control-input"
                   [ngModel]="mapDisplay" name="mapDisplay"
                   (ngModelChange)="changeMapView($event)"
                   value="show-end-point"/>
            <label class="custom-control-label" for="{{displayedWalk.walk.id}}-show-end-point">
              At finish point {{displayedWalk.walk.postcodeFinish}}</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input id="{{displayedWalk.walk.id}}-show-driving-directions"
                   type="radio"
                   class="custom-control-input align-middle"
                   (ngModelChange)="changeMapView($event)"
                   [ngModel]="mapDisplay" name="mapDisplay"
                   value="show-driving-directions"/>
            <label class="custom-control-label text-nowrap align-middle"
                   [ngClass]="{'postcode-label-second-line' : displayedWalk.walk.postcodeFinish}"
                   for="{{displayedWalk.walk.id}}-show-driving-directions">
              Driving from</label>
            <input class="form-control input-sm text-uppercase ml-2 postcode-input align-middle"
                   [ngClass]="{'postcode-input-second-line' : displayedWalk.walk.postcodeFinish}"
                   [ngModel]="fromPostcode" name="fromPostcode"
                   (ngModelChange)="changeFromPostcode($event)"
                   type="text">
          </div>
        </div>
      </form>
      <app-walk-details [displayedWalk]="displayedWalk"></app-walk-details>
    </div>
  </div>
</div>
