<div class="event-panel rounded event-panel-inner">
  <app-walk-group [displayedWalk]="displayedWalk"></app-walk-group>
  <h1>Walk Leader</h1>
  <div *ngIf="!display.shouldShowFullDetails(displayedWalk)">
    <div class="col-sm-12">
      <p name="description">{{displayedWalk?.latestEventType?.description || 'no description'}}</p>
    </div>
  </div>
  <div *ngIf="display.shouldShowFullDetails(displayedWalk)">
    <div class="row">
      <ng-container *ngIf="display.walkPopulationWalksManager()">
        <div app-related-link [mediaWidth]="display.relatedLinksMediaWidth" class="col-sm-12">
          <fa-icon title tooltip="contact walk leader {{displayedWalk?.walk?.displayName}}"
                   [icon]="faEnvelope"
                   class="fa-icon mr-1 pointer"></fa-icon>
          <a content
             [href]="displayedWalk?.walk?.contactEmail">{{displayedWalk?.walk?.displayName || "Contact Via Ramblers"}}</a>
        </div>
      </ng-container>
      <ng-container *ngIf="!display.walkPopulationWalksManager()">
        <div app-related-link [mediaWidth]="display.relatedLinksMediaWidth"
             *ngIf="displayedWalk?.walk?.contactEmail"  class="col-sm-12">
          <app-copy-icon [disabled]="!loggedIn" [icon]="faEnvelope" title
                         [value]="displayedWalk?.walk?.contactEmail"
                         [elementName]="'email address for '+ displayedWalk?.walk?.displayName"></app-copy-icon>
          <div content>
            <a *ngIf="loggedIn" [href]="'mailto:' + displayedWalk?.walk?.contactEmail"
               tooltip="Click to email {{displayedWalk?.walk?.displayName}}">
              {{displayedWalk?.walk?.displayName}}
            </a>
            <span (click)="display.login()" *ngIf="!loggedIn" class="tooltip-link span-margin"
                  trigger="mouseenter"
                  tooltip="Login as an {{group?.shortName}} member and send an email to {{displayedWalk?.walk?.displayName}}">
          {{displayedWalk?.walk?.displayName}}</span></div>
        </div>
        <div app-related-link [mediaWidth]="display.relatedLinksMediaWidth" class="col-sm-12">
          <app-copy-icon [icon]="faPhone" title [value]="displayedWalk?.walk?.contactPhone"
                         [elementName]="'mobile number for '+ displayedWalk?.walk?.displayName "></app-copy-icon>
          <a content [href]="'tel:' + displayedWalk?.walk?.contactPhone"
             tooltip="Click to ring {{displayedWalk?.walk?.displayName}} on {{displayedWalk?.walk?.contactPhone}} (mobile devices only)">
            {{displayedWalk?.walk?.contactPhone}}
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
