:host ::ng-deep
  .area-status-icon,
  .group-status-icon
    position: absolute
    right: 32px
    top: 50%
    transform: translateY(-50%)
    z-index: 10
    pointer-events: none

  .form-group
    margin-bottom: 1rem

    label
      margin-bottom: 0.25rem
      font-weight: 500

  .alert-warning
    padding: 1.5rem
