<app-card-container>
  @if (scriptSrcUrl) {
    <script async defer crossorigin="anonymous"
            [src]="scriptSrcUrl" nonce="eTzjlWCO"></script>
  }
  <h5 class="card-title cta-button cta-facebook-blue rounded">
    <a [href]="facebook?.groupUrl"
       title="Visit Our Facebook Page"> Facebook</a>
  </h5>
  <div class="card-text">
    @if (pluginUrl) {
      <iframe class="text-center"
              [width]="width"
              [height]="height"
              [src]="pluginUrl">
      </iframe>
    }
  </div>
</app-card-container>
