<app-page autoTitle>
  <div class="row">
    <div class="col-sm-12">
      @if (memberFilter) {
        <div class="admin-frame rounded">
          <div class="admin-header-background rounded">
            <div class="admin-header-container">
              <div class="row" role="form">
                <div class="col-md-3">
                  <div class="input-group">
                    <span class="input-group-text"><fa-icon [icon]="faSearch"></fa-icon></span>
                    <input id="quick-search" [(ngModel)]="quickSearch"
                           (ngModelChange)="onSearchChange($event)"
                           name="quickSearch"
                           class="form-control rounded"
                           type="text" placeholder="Quick Search">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="d-flex align-items-center gap-2">
                    <label class="spaced-label" for="filter-members">Filter:</label>
                    <select class="form-control"
                            [(ngModel)]="memberFilter.selectedFilter"
                            (ngModelChange)="refreshMembers($event)"
                            id="filter-members">
                      @for (tableFilterItem of memberFilter?.availableFilters; track tableFilterItem.title) {
                        <option
                          [ngValue]="tableFilterItem"
                          [textContent]="tableFilterItem.title">
                        </option>
                      }
                    </select>
                  </div>
                </div>
                <div class="col-md-3">
                  <p class="search-results rounded">
                    Showing {{ stringUtilsService.pluraliseWithCount(memberFilter.results.length, 'member') }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12 gap-2 d-flex my-2">
                  @if (!confirm.bulkDeleteOutstanding()) {
                    <input [disabled]="notifyTarget.busy" type="submit" value="Add New Member"
                           (click)="addMember()" title="Add New Member"
                           class="btn btn-primary">
                    @if (systemConfig?.mailDefaults?.mailProvider !== MailProvider.NONE) {
                      <input [disabled]="notifyTarget.busy" type="submit" value="Send Emails"
                             (click)="showSendEmailsDialog()" title="Send Emails"
                             class="btn btn-primary">
                      <input [disabled]="notifyTarget.busy" type="submit"
                             value="Update {{systemConfig?.mailDefaults?.mailProvider| titlecase}} Mailing Lists"
                             (click)="updateLists()"
                             class="btn btn-primary">
                    }
                  }
                    @if (!confirm.bulkDeleteOutstanding()) {
                      <input [disabled]="notifyTarget.busy" type="submit"
                             [value]="'Begin Bulk Member Delete'"
                             (click)="beginBulkMemberDelete()"
                             class="btn btn-danger">
                    }
                    @if (confirm.bulkDeleteOutstanding()) {
                      <input [disabled]="notifyTarget.busy" type="submit"
                             [value]="'Cancel'"
                             (click)="cancelBulkDelete()"
                             class="btn btn-warning">
                      <input
                        [disabled]="notifyTarget.busy || bulkDeleteMarkedMemberIds.length === memberFilter.results.length"
                        type="submit"
                        [value]="'Select All ' + memberFilter.results.length + ' members'"
                        (click)="selectAllForBulkDelete()"
                        class="btn btn-primary">
                      <input [disabled]="notifyTarget.busy || bulkDeleteMarkedMemberIds.length===0" type="submit"
                             [value]="'Deselect All ' + memberFilter.results.length + ' members'"
                             (click)="deselectAllForBulkDelete()"
                             class="btn btn-secondary">
                      <input [disabled]="notifyTarget.busy || bulkDeleteMarkedMemberIds.length === 0" type="submit"
                             [value]="'Confirm Deletion of ' + bulkDeleteMarkedMemberIds.length + ' members'"
                             (click)="confirmBulkDelete()"
                             class="btn btn-danger">
                    }
                </div>
              </div>
              @if (notifyTarget.showAlert) {
                <div class="row mb-0">
                  <div class="col-sm-12">
                    <div class="alert {{notifyTarget.alertClass}}">
                      <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
                      @if (notifyTarget.alertTitle) {
                        <strong>
                          {{ notifyTarget.alertTitle }}: </strong>
                      } {{ notifyTarget.alertMessage }}
                    </div>
                  </div>
                </div>
              }
            </div>
            <div class="member-table-scroll">
              <table class="round tbl-green-g table-striped table-hover table-sm">
                <thead>
                <tr class="pointer">
                  @if (!confirm.bulkDeleteOutstanding()) {
                    <th>Action</th>
                  }
                  @if (confirm.bulkDeleteOutstanding()) {
                    <th (click)="sortMembersBy('markedForDelete')">
                      <span class="nowrap">Marked For Delete<span class="sorting-header">{{ memberFilter.sortDirection }}</span></span></th>
                  }
                  <th (click)="sortMembersBy('memberName')"><span class="nowrap">Member Name
                    @if (showMembersColumn('memberName')) {<span class="sorting-header">{{ memberFilter.sortDirection }}</span>}
                  </span></th>
                  <th (click)="sortMembersBy('email')"><span class="nowrap">Email
                    @if (showMembersColumn('email')) {<span class="sorting-header">{{ memberFilter.sortDirection }}</span>}
                  </span></th>
                  <th (click)="sortMembersBy('mobileNumber')"><span class="nowrap">Mobile Number
                    @if (showMembersColumn('mobileNumber')) {<span class="sorting-header">{{ memberFilter.sortDirection }}</span>}
                  </span></th>
                  <th (click)="sortMembersBy('createdDate')"><span class="nowrap">Created Date
                    @if (showMembersColumn('createdDate')) {<span class="sorting-header">{{ memberFilter.sortDirection }}</span>}
                  </span></th>
                  <th (click)="sortMembersBy('membershipExpiryDate')"><span class="nowrap">Expiry Date
                    @if (showMembersColumn('membershipExpiryDate')) {<span class="sorting-header">{{ memberFilter.sortDirection }}</span>}
                  </span></th>
                  <th class="switch-heading" (click)="sortMembersBy('receivedInLastBulkLoad')">
                    <span class="nowrap">Last Bulk Load @if (showMembersColumn('receivedInLastBulkLoad')) {<span class="sorting-header">{{ memberFilter.sortDirection }}</span>}
                    </span>
                  </th>
                  <th (click)="sortMembersBy('groupMember')">Group Member
                    @if (showMembersColumn('groupMember')) {
                      <span class="sorting-header">
                        {{ memberFilter.sortDirection }}</span>
                    }
                  </th>
                  <th (click)="sortMembersBy('socialMember')">Social Member
                    @if (showMembersColumn('socialMember')) {
                      <span class="sorting-header">
                        {{ memberFilter.sortDirection }}</span>
                    }
                  </th>
                  @if (systemConfig?.mailDefaults?.mailProvider == MailProvider.MAILCHIMP) {
                    @if (mailchimpConfig?.lists?.walks) {
                      <th (click)="sortMembersBy('mailchimpLists.walks.subscribed')">
                        <span class="nowrap">Walks emails
                        @if (showMembersColumn('mailchimpLists.walks.subscribed')) {<span class="sorting-header">{{ memberFilter.sortDirection }}</span>}
                        </span>
                      </th>
                    }
                    @if (mailchimpConfig?.lists?.socialEvents) {
                      <th (click)="sortMembersBy('mailchimpLists.socialEvents.subscribed')">
                        <span class="nowrap">Social emails
                        @if (showMembersColumn('mailchimpLists.socialEvents.subscribed')) {<span class="sorting-header">{{ memberFilter.sortDirection }}</span>}
                        </span>
                      </th>
                    }
                    @if (mailchimpConfig?.lists?.general) {
                      <th (click)="sortMembersBy('mailchimpLists.general.subscribed')">
                        <span class="nowrap">General emails
                        @if (showMembersColumn('mailchimpLists.general.subscribed')) {<span class="sorting-header">{{ memberFilter.sortDirection }}</span>}
                        </span>
                      </th>
                    }
                  }
                  @if (systemConfig?.mailDefaults?.mailProvider == MailProvider.BREVO) {
                    @for (listInfo of mailMessagingConfig?.brevo?.lists?.lists; track listInfo.id) {
                      <th (click)="sortMembersBy(listInfo.name)">
                        <span class="nowrap">{{ listInfo.name | titlecase }} emails
                        @if (showMembersColumn(listInfo.name)) {<span class="sorting-header">{{ memberFilter.sortDirection }}</span>}
                        </span>
                      </th>
                    }
                  }
                </tr>
                </thead>
                <tbody>
                  @for (member of memberFilter.results; track member.id) {
                    <tr>
                      @if (!confirm.bulkDeleteOutstanding()) {
                        <td>
                          <input (click)="editMember(member)" type="submit" value="edit"
                                 [disabled]="notifyTarget.busy"
                                 class="btn btn-primary btn-sm">
                        </td>
                      }
                      @if (confirm.bulkDeleteOutstanding()) {
                        <td class="pointer" (click)="toggleDeletionMarker(member.id)">
                          <fa-icon [icon]="markedForDelete(member.id)? faUserXmark:faUserCheck"
                                   [ngClass]="markedForDelete(member.id)?'member-delete-confirm':'member-delete'"></fa-icon>
                        </td>
                      }
                      <td>{{ member | fullNameWithAlias }}</td>
                      <td>@if (member.email) {
                        <a class="small" [href]="'mailto:' + member.email" placement="right"
                           tooltip="Click to email {{member | fullNameWithAlias}} at {{member.email}}">{{ member.email }}</a>
                      }
                      </td>
                      <td>
                        <a [href]="'tel: ' + member.mobileNumber">
                        <span placement="right"
                              tooltip="Click to ring {{member | fullNameWithAlias}} on {{member.mobileNumber}} (mobile devices only)">{{ member.mobileNumber }}</span></a>
                      </td>
                      <td class="nowrap">{{ member.createdDate | displayDateNoDay }}</td>
                      <td class="nowrap">{{ member.membershipExpiryDate | displayDateNoDay }}</td>
                      <td>
                        <app-switch-icon [on]="receivedInLastBulkLoad(member)"/>
                      </td>
                      <td>
                        <app-switch-icon [on]="member.groupMember"/>
                      </td>
                      <td>
                        <app-switch-icon [on]="member.socialMember"/>
                      </td>
                      @if (systemConfig?.mailDefaults?.mailProvider == MailProvider.MAILCHIMP) {
                        @if (mailchimpConfig?.lists?.walks) {
                          <td>
                            <app-switch-icon [on]="member.mailchimpLists?.walks?.subscribed"/>
                          </td>
                        }
                        @if (mailchimpConfig?.lists?.socialEvents) {
                          <td>
                            <app-switch-icon [on]="member.mailchimpLists?.socialEvents?.subscribed"/>
                          </td>
                        }
                        @if (mailchimpConfig?.lists?.general) {
                          <td>
                            <app-switch-icon [on]="member.mailchimpLists?.general?.subscribed"/>
                          </td>
                        }
                      }
                      @if (systemConfig?.mailDefaults?.mailProvider == MailProvider.BREVO) {
                        @for (list of mailMessagingConfig?.brevo?.lists?.lists; track list.id) {
                          <td>
                            <app-switch-icon [on]="subscriptionFor(member, list)"/>
                          </td>
                        }
                      }
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</app-page>
