<app-page autoTitle>
  <div class="row">
    <div class="col-sm-12">
      @if (memberFilter) {
        <div class="admin-frame rounded">
          <div class="admin-header-background rounded">
            <div class="admin-header-container">
              <div class="form-inline" role="form">
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><fa-icon [icon]="faSearch"></fa-icon></span>
                    </div>
                    <input id="quick-search" [(ngModel)]="quickSearch"
                           (ngModelChange)="onSearchChange($event)"
                           name="quickSearch"
                           class="form-control input-sm rounded"
                           type="text" placeholder="Quick Search">
                  </div>
                </div>
                <div class="form-group">
                  <label class="spaced-label mr-2" for="filter-members">Filter:</label>
                  <select class="form-control input-sm"
                          [(ngModel)]="memberFilter.selectedFilter"
                          (ngModelChange)="refreshMembers($event)"
                          id="filter-members">
                    @for (tableFilterItem of memberFilter?.availableFilters; track tableFilterItem.title) {
                      <option
                        [ngValue]="tableFilterItem"
                        [textContent]="tableFilterItem.title">
                      </option>
                    }
                  </select>
                </div>
                <div class="form-group">
                  <p class="search-results rounded">Showing {{ memberFilter.results.length }} member(s)</p>
                </div>
                <div class="form-group admin-header-buttons">
                  @if (!confirm.bulkDeleteOutstanding()) {
                    <input [disabled]="notifyTarget.busy" type="submit" value="Add New Member"
                           (click)="addMember()" title="Add New Member"
                           [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                    @if (systemConfig?.mailDefaults?.mailProvider !== MailProvider.NONE) {
                      <input [disabled]="notifyTarget.busy" type="submit" value="Send Emails"
                             (click)="showSendEmailsDialog()" title="Send Emails"
                             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                      <input [disabled]="notifyTarget.busy" type="submit"
                             value="Update {{systemConfig?.mailDefaults?.mailProvider| titlecase}} Mailing Lists"
                             (click)="updateLists()"
                             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                    }
                  }
                  <ng-container>
                    @if (!confirm.bulkDeleteOutstanding()) {
                      <input [disabled]="notifyTarget.busy" type="submit"
                             [value]="'Begin Bulk Member Delete'"
                             (click)="beginBulkMemberDelete()"
                             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                    }
                    @if (confirm.bulkDeleteOutstanding()) {
                      <input [disabled]="notifyTarget.busy" type="submit"
                             [value]="'Cancel'"
                             (click)="cancelBulkDelete()"
                             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab amber-confirm'">
                      <input
                        [disabled]="notifyTarget.busy || bulkDeleteMarkedMemberIds.length === memberFilter.results.length"
                        type="submit"
                        [value]="'Select All ' + memberFilter.results.length + ' members'"
                        (click)="selectAllForBulkDelete()"
                        [ngClass]="notifyTarget.busy  || bulkDeleteMarkedMemberIds.length === memberFilter.results.length? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                      <input [disabled]="notifyTarget.busy || bulkDeleteMarkedMemberIds.length===0" type="submit"
                             [value]="'Deselect All ' + memberFilter.results.length + ' members'"
                             (click)="deselectAllForBulkDelete()"
                             [ngClass]="notifyTarget.busy|| bulkDeleteMarkedMemberIds.length===0 ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                      <input [disabled]="notifyTarget.busy || bulkDeleteMarkedMemberIds.length === 0" type="submit"
                             [value]="'Confirm Deletion of ' + bulkDeleteMarkedMemberIds.length + ' members'"
                             (click)="confirmBulkDelete()"
                             [ngClass]="notifyTarget.busy  || bulkDeleteMarkedMemberIds.length === 0 ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab button-confirm'">
                    }
                  </ng-container>
                </div>
              </div>
              @if (notifyTarget.showAlert) {
                <div class="row mb-0">
                  <div class="col-sm-12">
                    <div class="alert {{notifyTarget.alertClass}}">
                      <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
                      @if (notifyTarget.alertTitle) {
                        <strong>
                          {{ notifyTarget.alertTitle }}: </strong>
                      } {{ notifyTarget.alertMessage }}
                    </div>
                  </div>
                </div>
              }
            </div>
            <div class="table-responsive">
              <table class="round tbl-green-g table-striped table-hover table-sm">
                <thead>
                <tr class="pointer">
                  @if (!confirm.bulkDeleteOutstanding()) {
                    <th>Action</th>
                  }
                  @if (confirm.bulkDeleteOutstanding()) {
                    <th (click)="sortMembersBy('markedForDelete')">
                      Marked For Delete<span class="sorting-header">{{ memberFilter.sortDirection }}</span></th>
                  }
                  <th (click)="sortMembersBy('memberName')">Member Name
                    @if (showMembersColumn('memberName')) {
                      <span class="sorting-header">
                            {{ memberFilter.sortDirection }}</span>
                    }
                  </th>
                  <th (click)="sortMembersBy('email')">Email
                    @if (showMembersColumn('email')) {
                      <span class="sorting-header">
                            {{ memberFilter.sortDirection }}</span>
                    }
                  </th>
                  <th (click)="sortMembersBy('mobileNumber')">Mobile Number
                    @if (showMembersColumn('mobileNumber')) {
                      <span class="sorting-header">
                            {{ memberFilter.sortDirection }}</span>
                    }
                  </th>
                  <th (click)="sortMembersBy('createdDate')">Created Date
                    @if (showMembersColumn('createdDate')) {
                      <span class="sorting-header">
                            {{ memberFilter.sortDirection }}</span>
                    }
                  </th>
                  <th (click)="sortMembersBy('membershipExpiryDate')">Expiry Date
                    @if (showMembersColumn('membershipExpiryDate')) {
                      <span class="sorting-header">
                            {{ memberFilter.sortDirection }}</span>
                    }
                  </th>
                  <th class="switch-heading" (click)="sortMembersBy('receivedInLastBulkLoad')">
                    Last Bulk Load @if (showMembersColumn('receivedInLastBulkLoad')) {
                    <span class="sorting-header">
                          {{ memberFilter.sortDirection }}</span>
                  }
                  </th>
                  <th (click)="sortMembersBy('groupMember')">Group Member
                    @if (showMembersColumn('groupMember')) {
                      <span class="sorting-header">
                          {{ memberFilter.sortDirection }}</span>
                    }
                  </th>
                  <th (click)="sortMembersBy('socialMember')">Social Member
                    @if (showMembersColumn('socialMember')) {
                      <span class="sorting-header">
                          {{ memberFilter.sortDirection }}</span>
                    }
                  </th>
                  @if (systemConfig?.mailDefaults?.mailProvider == MailProvider.MAILCHIMP) {
                    @if (mailchimpConfig?.lists?.walks) {
                      <th (click)="sortMembersBy('mailchimpLists.walks.subscribed')">
                        Walks emails
                        @if (showMembersColumn('mailchimpLists.walks.subscribed')) {
                          <div class="sorting-header">
                            {{ memberFilter.sortDirection }}
                          </div>
                        }
                      </th>
                    }
                    @if (mailchimpConfig?.lists?.socialEvents) {
                      <th
                        (click)="sortMembersBy('mailchimpLists.socialEvents.subscribed')">
                        Social emails
                        @if (showMembersColumn('mailchimpLists.socialEvents.subscribed')) {
                          <div class="sorting-header">
                            {{ memberFilter.sortDirection }}
                          </div>
                        }
                      </th>
                    }
                    @if (mailchimpConfig?.lists?.general) {
                      <th
                        (click)="sortMembersBy('mailchimpLists.general.subscribed')">
                        General emails
                        @if (showMembersColumn('mailchimpLists.general.subscribed')) {
                          <div class="sorting-header"
                          >{{ memberFilter.sortDirection }}
                          </div>
                        }
                      </th>
                    }
                  }
                  @if (systemConfig?.mailDefaults?.mailProvider == MailProvider.BREVO) {
                    @for (listInfo of mailMessagingConfig?.brevo?.lists?.lists; track listInfo.id) {
                      <th
                        (click)="sortMembersBy(listInfo.name)">
                        {{ listInfo.name | titlecase }} emails
                        @if (showMembersColumn(listInfo.name)) {
                          <span class="sorting-header">
                              {{ memberFilter.sortDirection }}</span>
                        }
                      </th>
                    }
                  }
                </tr>
                </thead>
                <tbody>
                  @for (member of memberFilter.results; track member.id) {
                    <tr>
                      @if (!confirm.bulkDeleteOutstanding()) {
                        <td>
                          <input (click)="editMember(member)" type="submit" value="edit"
                                 [disabled]="notifyTarget.busy"
                                 [ngClass]="notifyTarget.busy ? 'disabled-button-form': 'button-form'">
                        </td>
                      }
                      @if (confirm.bulkDeleteOutstanding()) {
                        <td class="pointer" (click)="toggleDeletionMarker(member.id)">
                          <fa-icon [icon]="markedForDelete(member.id)? faUserXmark:faUserCheck"
                                   [ngClass]="markedForDelete(member.id)?'member-delete-confirm':'member-delete'"></fa-icon>
                        </td>
                      }
                      <td>{{ member | fullNameWithAlias }}</td>
                      <td>@if (member.email) {
                        <a class="small" [href]="'mailto:' + member.email" placement="right"
                           tooltip="Click to email {{member | fullNameWithAlias}} at {{member.email}}">{{ member.email }}</a>
                      }
                      </td>
                      <td>
                        <a [href]="'tel: ' + member.mobileNumber">
                          <span placement="right"
                                tooltip="Click to ring {{member | fullNameWithAlias}} on {{member.mobileNumber}} (mobile devices only)">{{ member.mobileNumber }}</span></a>
                      </td>
                      <td class="nowrap">{{ member.createdDate | displayDateNoDay }}</td>
                      <td class="nowrap">{{ member.membershipExpiryDate | displayDateNoDay }}</td>
                      <td>
                        <app-switch-icon [on]="receivedInLastBulkLoad(member)"/>
                      </td>
                      <td>
                        <app-switch-icon [on]="member.groupMember"/>
                      </td>
                      <td>
                        <app-switch-icon [on]="member.socialMember"/>
                      </td>
                      @if (systemConfig?.mailDefaults?.mailProvider == MailProvider.MAILCHIMP) {
                        @if (mailchimpConfig?.lists?.walks) {
                          <td>
                            <app-switch-icon [on]="member.mailchimpLists?.walks?.subscribed"/>
                          </td>
                        }
                        @if (mailchimpConfig?.lists?.socialEvents) {
                          <td>
                            <app-switch-icon [on]="member.mailchimpLists?.socialEvents?.subscribed"/>
                          </td>
                        }
                        @if (mailchimpConfig?.lists?.general) {
                          <td>
                            <app-switch-icon [on]="member.mailchimpLists?.general?.subscribed"/>
                          </td>
                        }
                      }
                      @if (systemConfig?.mailDefaults?.mailProvider == MailProvider.BREVO) {
                        @for (list of mailMessagingConfig?.brevo?.lists?.lists; track list.id) {
                          <td>
                            <app-switch-icon [on]="subscriptionFor(member, list)"/>
                          </td>
                        }
                      }
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</app-page>
