<app-page autoTitle>
  <div class="row">
    <div class="col-sm-12">
      <div class="admin-frame rounded" *ngIf="memberFilter">
        <div class="admin-header-background rounded">
          <div class="admin-header-container">
            <div class="form-inline" role="form">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]="faSearch"></fa-icon></span>
                  </div>
                  <input id="quick-search" [(ngModel)]="quickSearch"
                         (ngModelChange)="onSearchChange($event)"
                         name="quickSearch"
                         class="form-control input-sm rounded"
                         type="text" placeholder="Quick Search">
                </div>
              </div>
              <div class="form-group">
                <label class="spaced-label mr-2" for="filter-members">Filter:</label>
                <select [disabled]="confirm.bulkDeleteOutstanding()" class="form-control input-sm"
                        [(ngModel)]="memberFilter.selectedFilter"
                        (ngModelChange)="refreshMembers($event)"
                        id="filter-members">
                  <option *ngFor="let tableFilterItem of memberFilter?.availableFilters"
                          [ngValue]="tableFilterItem"
                          [textContent]="tableFilterItem.title">
                  </option>
                </select>
              </div>
              <div class="form-group">
                <p class="search-results rounded">Showing {{ memberFilter.results.length }} member(s)</p>
              </div>
              <div class="form-group admin-header-buttons">
                <ng-container *ngIf="!confirm.bulkDeleteOutstanding()">
                  <input [disabled]="notifyTarget.busy" type="submit" value="Add New Member"
                         (click)="addMember()" title="Add New Member"
                         [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                  <ng-container *ngIf="systemConfig?.mailDefaults?.mailProvider!== MailProvider.NONE">
                    <input [disabled]="notifyTarget.busy" type="submit" value="Send Emails"
                           (click)="showSendEmailsDialog()" title="Send Emails"
                           [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                    <input [disabled]="notifyTarget.busy" type="submit"
                           value="Update {{systemConfig?.mailDefaults?.mailProvider| titlecase}} Mailing Lists"
                           (click)="updateLists()"
                           [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                  </ng-container>
                </ng-container>
                <ng-container>
                  <input *ngIf="!confirm.bulkDeleteOutstanding()" [disabled]="notifyTarget.busy" type="submit"
                         [value]="'Begin Bulk Member Delete'"
                         (click)="beginBulkMemberDelete()"
                         [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                  <ng-container *ngIf="confirm.bulkDeleteOutstanding()">
                    <input [disabled]="notifyTarget.busy" type="submit"
                           [value]="'Cancel'"
                           (click)="cancelBulkDelete()"
                           [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab amber-confirm'">
                    <input
                      [disabled]="notifyTarget.busy || bulkDeleteMarkedMemberIds.length === memberFilter.results.length"
                      type="submit"
                      [value]="'Select All ' + memberFilter.results.length + ' members'"
                      (click)="selectAllForBulkDelete()"
                      [ngClass]="notifyTarget.busy  || bulkDeleteMarkedMemberIds.length === memberFilter.results.length? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                    <input [disabled]="notifyTarget.busy || bulkDeleteMarkedMemberIds.length===0" type="submit"
                           [value]="'Deselect All ' + memberFilter.results.length + ' members'"
                           (click)="deselectAllForBulkDelete()"
                           [ngClass]="notifyTarget.busy|| bulkDeleteMarkedMemberIds.length===0 ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab'">
                    <input [disabled]="notifyTarget.busy || bulkDeleteMarkedMemberIds.length === 0" type="submit"
                           [value]="'Confirm Deletion of ' + bulkDeleteMarkedMemberIds.length + ' members'"
                           (click)="confirmBulkDelete()"
                           [ngClass]="notifyTarget.busy  || bulkDeleteMarkedMemberIds.length === 0 ? 'disabled-button-form button-form-in-tab': 'button-form button-form-in-tab button-confirm'">
                  </ng-container>
                </ng-container>
              </div>
            </div>
            <div *ngIf="notifyTarget.showAlert" class="row mb-0">
              <div class="col-sm-12">
                <div class="alert {{notifyTarget.alertClass}}">
                  <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
                  <strong *ngIf="notifyTarget.alertTitle">
                    {{ notifyTarget.alertTitle }}: </strong> {{ notifyTarget.alertMessage }}
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="round tbl-green-g table-striped table-hover table-sm">
              <thead>
              <tr class="white-anchor">
                <th *ngIf="!confirm.bulkDeleteOutstanding()">Action</th>
                <th *ngIf="confirm.bulkDeleteOutstanding()" (click)="sortMembersBy('markedForDelete')">
                  Marked For Delete<span class="sorting-header">{{ memberFilter.sortDirection }}</span></th>
                <th (click)="sortMembersBy('memberName')">Member Name
                  <span class="sorting-header" *ngIf="showMembersColumn('memberName')">
            {{ memberFilter.sortDirection }}</span>
                </th>
                <th (click)="sortMembersBy('email')">Email
                  <span class="sorting-header" *ngIf="showMembersColumn('email')">
            {{ memberFilter.sortDirection }}</span>
                </th>
                <th (click)="sortMembersBy('mobileNumber')">Mobile Number
                  <span class="sorting-header" *ngIf="showMembersColumn('mobileNumber')">
            {{ memberFilter.sortDirection }}</span>
                </th>
                <th (click)="sortMembersBy('createdDate')">Created Date
                  <span class="sorting-header" *ngIf="showMembersColumn('createdDate')">
            {{ memberFilter.sortDirection }}</span>
                </th>
                <th (click)="sortMembersBy('membershipExpiryDate')">Expiry Date
                  <span class="sorting-header" *ngIf="showMembersColumn('membershipExpiryDate')">
            {{ memberFilter.sortDirection }}</span>
                </th>
                <th class="switch-heading" (click)="sortMembersBy('receivedInLastBulkLoad')">
                  Last Bulk Load <span class="sorting-header" *ngIf="showMembersColumn('receivedInLastBulkLoad')">
            {{ memberFilter.sortDirection }}</span>
                </th>
                <th (click)="sortMembersBy('groupMember')">Group Member
                  <span class="sorting-header" *ngIf="showMembersColumn('groupMember')">
            {{ memberFilter.sortDirection }}</span>
                </th>
                <th (click)="sortMembersBy('socialMember')">Social Member
                  <span class="sorting-header" *ngIf="showMembersColumn('socialMember')">
            {{ memberFilter.sortDirection }}</span>
                </th>
                <ng-container *ngIf="systemConfig?.mailDefaults?.mailProvider==MailProvider.MAILCHIMP">
                  <th *ngIf="mailchimpConfig?.lists?.walks" (click)="sortMembersBy('mailchimpLists.walks.subscribed')">
                    Walks emails
                    <div class="sorting-header" *ngIf="showMembersColumn('mailchimpLists.walks.subscribed')">
                      {{ memberFilter.sortDirection }}
                    </div>
                  </th>
                  <th *ngIf="mailchimpConfig?.lists?.socialEvents"
                      (click)="sortMembersBy('mailchimpLists.socialEvents.subscribed')">
                    Social emails
                    <div class="sorting-header" *ngIf="showMembersColumn('mailchimpLists.socialEvents.subscribed')">
                      {{ memberFilter.sortDirection }}
                    </div>
                  </th>
                  <th *ngIf="mailchimpConfig?.lists?.general"
                      (click)="sortMembersBy('mailchimpLists.general.subscribed')">
                    General emails
                    <div class="sorting-header"
                         *ngIf="showMembersColumn('mailchimpLists.general.subscribed')">{{ memberFilter.sortDirection }}
                    </div>
                  </th>
                </ng-container>
                <ng-container *ngIf="systemConfig?.mailDefaults?.mailProvider==MailProvider.BREVO">
                  <th *ngFor="let listInfo of mailMessagingConfig?.brevo?.lists?.lists"
                      (click)="sortMembersBy(listInfo.name)">
                    {{ listInfo.name | titlecase }} emails
                    <span class="sorting-header" *ngIf="showMembersColumn(listInfo.name)">
            {{ memberFilter.sortDirection }}</span>
                  </th>
                </ng-container>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let member of memberFilter.results">
                <td *ngIf="!confirm.bulkDeleteOutstanding()">
                  <input (click)="editMember(member)" type="submit" value="edit"
                         [disabled]="notifyTarget.busy"
                         [ngClass]="notifyTarget.busy ? 'disabled-button-form': 'button-form'">
                </td>
                <td class="pointer" *ngIf="confirm.bulkDeleteOutstanding()" (click)="toggleDeletionMarker(member.id)">
                  <fa-icon [icon]="markedForDelete(member.id)? faUserXmark:faUserCheck"
                           [ngClass]="markedForDelete(member.id)?'member-delete-confirm':'member-delete'"></fa-icon>
                </td>
                <td>{{ member | fullNameWithAlias }}</td>
                <td><a class="small" *ngIf="member.email" [href]="'mailto:' + member.email" placement="right"
                       tooltip="Click to email {{member | fullNameWithAlias}} at {{member.email}}">{{ member.email }}</a>
                </td>
                <td>
                  <a [href]="'tel: ' + member.mobileNumber">
                                        <span placement="right"
                                              tooltip="Click to ring {{member | fullNameWithAlias}} on {{member.mobileNumber}} (mobile devices only)">{{ member.mobileNumber }}</span></a>
                </td>
                <td class="nowrap">{{ member.createdDate | displayDateNoDay }}</td>
                <td class="nowrap">{{ member.membershipExpiryDate | displayDateNoDay }}</td>
                <td>
                  <app-switch-icon [on]="receivedInLastBulkLoad(member)"/>
                </td>
                <td>
                  <app-switch-icon [on]="member.groupMember"/>
                </td>
                <td>
                  <app-switch-icon [on]="member.socialMember"/>
                </td>
                <ng-container *ngIf="systemConfig?.mailDefaults?.mailProvider==MailProvider.MAILCHIMP">
                  <td *ngIf="mailchimpConfig?.lists?.walks">
                    <app-switch-icon [on]="member.mailchimpLists?.walks?.subscribed"/>
                  </td>
                  <td *ngIf="mailchimpConfig?.lists?.socialEvents">
                    <app-switch-icon [on]="member.mailchimpLists?.socialEvents?.subscribed"/>
                  </td>
                  <td *ngIf="mailchimpConfig?.lists?.general">
                    <app-switch-icon [on]="member.mailchimpLists?.general?.subscribed"/>
                  </td>
                </ng-container>
                <ng-container *ngIf="systemConfig?.mailDefaults?.mailProvider==MailProvider.BREVO">
                  <td *ngFor="let list of mailMessagingConfig?.brevo?.lists?.lists">
                    <app-switch-icon [on]="subscriptionFor(member, list)"/>
                  </td>
                </ng-container>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-page>
