<div class="row mb-3 mt-3">
  <div class="col-md-12">
    <h5>{{logoTitle()}}</h5>
    @if (logoEditActive) {
      <app-image-cropper-and-resizer
        [rootFolder]="images?.rootFolder"
        [preloadImage]="image.awsFileName"
        (imageChange)="imageChange($event)"
        (quit)="exitImageEdit()"
        (save)="imagedSaved($event)">
      </app-image-cropper-and-resizer>
    }
  </div>
  <div class="col-md-6 mt-2">
    <div class="row">
      <div class="col-md-12">
        <label>Original Name</label>
        <input [(ngModel)]="image.originalFileName"
               type="text" value="" class="form-control input-sm w-100" [id]="uniqueIdFor('originalFileName')">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <label>Image Source Name</label>
        <input [(ngModel)]="image.awsFileName"
               type="text" value="" class="form-control input-sm w-100" [id]="uniqueIdFor('awsFileName')">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <div class="form-group">
          <label>Height:</label>
          <input [(ngModel)]="image.width"
                 type="number" class="form-control input-sm">
        </div>
      </div>
      <div class="col-md-6">
        <label>Padding:</label>
        <input [(ngModel)]="image.padding"
               type="number" class="form-control input-sm">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        @if (logoMode) {
          <app-badge-button (click)="makeDefault()"
                            [tooltip]="'Make ' + image.originalFileName + ' the default website logo'"
                            [icon]="faSave" caption="Make this logo the website default"/>
        }
        <app-badge-button (click)="toggleImageEditor()"
                          [tooltip]="fileTypeAttributes?.croppable?'Edit '+image.originalFileName:image.originalFileName + ' is not editable'"
                          [icon]="faEdit" caption="Edit image" [disabled]="!fileTypeAttributes?.croppable"/>
        <app-badge-button (click)="delete()"
                          [tooltip]="'Delete ' + image.originalFileName + ' from collection of ' + rootFolder"
                          [icon]="faRemove" caption="Delete image" [disabled]="!fileTypeAttributes?.croppable"/>
      </div>
    </div>
  </div>
  @if (imageValid(image)) {
    <div class="col-md-6">
      <div class="row">
        <label>Image Preview</label>
      </div>
      <img [src]="imageSourceOrPreview()" [alt]="image.originalFileName"
           [style]="'width:' + image.width +'px; padding: '+ image.padding +'px; height: auto;'"
           [ngClass]="image.awsFileName.endsWith('png') ? 'image-border-png':'image-border'">
    </div>
  }
</div>
