<app-markdown-editor category="committee" [name]="'introduction'"
                     description="Introduction"></app-markdown-editor>
<div class="card mb-3">
  <div class="wrapper w-100 position-relative">
    @if (imageSource) {
      <img class="h-100 w-100 position-absolute"
           role="presentation"
           [src]="urlService.imageSource(imageSource)">
    }
  </div>
  <div class="card-body">
    <div class="card-title mb-4"><h4>Committee events for {{ committeeYear?.year }}</h4></div>
    @if (display.allowAddCommitteeFile() && filesForYear?.length === 0) {
      <input (click)="addCommitteeFile()"
             class="btn btn-primary" title="Add new File" type="submit"
             value="Add File">
    }
    @for (committeeFile of filesForYear; track committeeFile) {
      <div class="file-item"
           (mouseover)="selectCommitteeFile(committeeFile)">
        @if (committeeFile.fileNameData) {
          <div class="file-download">
            <img [alt]="display.iconFile(committeeFile)"
                 [src]="'assets/images/ramblers/' + display.iconFile(committeeFile)"
                 class="icon"/>
            <a [href]="display.fileUrl(committeeFile)" [title]="display.fileTitle(committeeFile)" class="morelink"
               target='_blank'>Download</a>
          </div>
        }
        <div class="file-detail">
          <h6>{{ committeeFile.fileType }}</h6>
          <p>{{ display.fileTitle(committeeFile) }}</p>
          @if (memberLoginService.allowCommittee() && isActive(committeeFile)) {
            <div class="row">
              <div class="col-sm-12">
                <div class="action-button-group d-flex gap-2 flex-wrap">
                  @if (!display.confirm.deleteConfirmOutstanding()) {
                    <div class="d-flex gap-2 flex-wrap">
                      @if (display.allowAddCommitteeFile()) {
                        <input type="submit"
                               value="Add File" (click)="addCommitteeFile()"
                               title="Add new File" class="btn btn-primary btn-sm">
                      }
                      @if (display.allowEditCommitteeFile(committeeFile)) {
                        <input
                          type="submit" value="Edit File"
                          (click)="editCommitteeFile(committeeFile)"
                          title="Edit File for approval"
                          class="btn btn-success btn-sm">
                      }
                      @if (display.allowEditCommitteeFile(committeeFile)) {
                        <input
                          type="submit" value="Send Email"
                          (click)="sendNotification(committeeFile)"
                          title="Send Email" class="btn btn-warning btn-sm">
                      }
                      @if (display.allowDeleteCommitteeFile(committeeFile)) {
                        <input
                          type="submit" value="Delete File"
                          (click)="deleteCommitteeFile();" title="Delete File"
                          class="btn btn-danger btn-sm">
                      }
                    </div>
                  }
                  @if (display.confirm.deleteConfirmOutstanding()) {
                    <div class="d-flex gap-2 flex-wrap">
                      <input (click)="display.confirmDeleteCommitteeFile(notify, committeeFile)"
                             class="btn btn-danger btn-sm"
                             title="Delete File"
                             type="submit" value="Confirm Delete of File">
                      <input (click)="display.confirm.clear();" class="btn btn-secondary btn-sm"
                             title="Cancel delete of File"
                             type="submit"
                             value="Cancel Delete of File">
                    </div>
                  }
                </div>
              </div>
            </div>
          }
        </div>
        @if (notLast(committeeFile)) {
          <hr class="rule">
        }
      </div>
    }
  </div>
</div>
