.file-item
  background: top left repeat-x
  padding: 15px 0 6px
  float: left
  width: 100%
  font-size: 14px

.file-item .file-download
  float: right
  width: 90px
  text-align: center

.file-item .file-download a
  display: block

.file-item .morelink
  float: left
  padding: 2px 0 2px 15px
  font-weight: bold

.file-item .file-detail
  margin-right: 100px

.file-item .file-detail p
  margin: 0

.rule
  margin-top: 24px
