<ng-container *ngIf="display.allow.admin">
  <ng-container *ngIf="showPagination">
    <ng-container *ngTemplateOutlet="searchAndFilterActions"></ng-container>
    <div class="d-flex">
      <ng-content select="[pagination]"></ng-content>
      <div class="form-group mb-0 flex-grow-1">
        <ng-container *ngTemplateOutlet="alert"></ng-container>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!showPagination">
    <ng-container *ngTemplateOutlet="searchAndFilterActions"></ng-container>
  </ng-container>
</ng-container>

<ng-template #alert>
  <div *ngIf="notifyTarget.showAlert" class="alert {{notifyTarget.alertClass}}">
    <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
    <strong>{{notifyTarget.alertTitle}}</strong>
    {{notifyTarget.alertMessage}}
  </div>
</ng-template>

<ng-template #searchAndFilterActions>
  <div class="d-lg-flex">
    <div class="form-group mr-lg-3 flex-grow-1">
      <div class="input-group">
        <div class="input-group-prepend rounded" (click)="setFocusTo(input)">
          <span class="input-group-text"><fa-icon [icon]="faSearch"></fa-icon></span>
        </div>
        <input #input [(ngModel)]="filterParameters.quickSearch"
               (ngModelChange)="onSearchChange($event)"
               id="quick-search"
               class="form-control input-md inline-label rounded"
               type="text" placeholder="Quick Search">
      </div>
    </div>
    <div class="form-group mr-lg-3">
      <select [(ngModel)]="filterParameters.selectType"
              (ngModelChange)="refreshSocialEvents('change filterParameters.selectType')" name="selectType"
              class="form-control rounded mr-3">
        <option *ngFor=" let dateCriteria of display.dateSelectionOptions()"
                [ngValue]="dateCriteria.key">{{dateCriteria.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <select [(ngModel)]="filterParameters.fieldSort"
              (ngModelChange)="refreshSocialEvents('change filterParameters.fieldSort')" name="sortOrder"
              class="form-control rounded">
        <option value="-1">Date Descending</option>
        <option selected value="1">Date Ascending</option>
      </select>
    </div>
  </div>
</ng-template>
