<div class="row">
  <div class="col-sm-8"><h2>{{display.socialEventsTitle(filterParameters.selectType)}}</h2></div>
  @if (display.allow.edits) {
    <div class="col-lg-4 col-xs-12">
      @if (display.confirm.noneOutstanding()) {
        <input type="submit" [disabled]="notifyTarget.busy"
               class="float-lg-right mb-3"
               value="Add New Social Event"
               (click)="addSocialEvent()"/>
      }
    </div>
  }
</div>
<div class="row">
  @for (socialEvent of filteredSocialEvents; track socialEvent) {
    <div [class]="slideClasses()">
      <app-social-card [socialEvent]="socialEvent"></app-social-card>
    </div>
  }
</div>
