<div style="font-size:12px">
  <p>This email is to notify you that at <strong [textContent]="event.date | displayDateAndTime"
                                                 class="nowrap"></strong>,
    <strong [textContent]="event.memberId | memberIdToFullName : members"></strong>
    updated the walk on <strong [textContent]="walk.walkDate | displayDate" class="nowrap"></strong>
    to <strong [textContent]="event.eventType | walkEventType: 'description'"></strong>.
  </p>
  <div *ngIf="walkDataAudit.dataChanged">
    <p>Here are the details that have been completed so far:</p>
    <app-walk-notification-details [data]="data"></app-walk-notification-details>
  </div>
  <p *ngIf="validationMessages.length > 0"><strong>Note:</strong> The Walk can't be approved yet because <span
    [textContent]="validationMessages | asWalkValidationsList"></span>.</p>
  <app-walk-notification-footer [data]="data"></app-walk-notification-footer>
</div>
