<div style="font-size:12px">
  <p>This email is a notification that at <strong [textContent]="event.date | displayDateAndTime"
                                                  class="nowrap"></strong>,
    <strong [textContent]="event.memberId | memberIdToFullName : members"></strong>
    completed all details on the walk led by
    <strong [textContent]="walk.walkLeaderMemberId | memberIdToFullName : members : walk.displayName"></strong>
    on <strong [textContent]="walk.walkDate | displayDate" class="nowrap"></strong> and now awaits your approval.
    For your information, the walk details are as follows:</p>
  <app-walk-notification-details [data]="data"></app-walk-notification-details>
  <app-walk-notification-footer [data]="data"></app-walk-notification-footer>
</div>
