<table style="cellpadding:10; border:1px solid lightgrey;border-collapse:collapse;width: 100%;border-spacing: 5px;">
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Walk Date:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px"
        [textContent]="walk.walkDate | displayDate"></td>
  </tr>
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Start Time:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px"
        [textContent]="walk.startTime | valueOrDefault"></td>
  </tr>
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Description:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px"
        [textContent]="walk.briefDescriptionAndStartPoint | valueOrDefault"></td>
  </tr>
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Longer Description:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px"
        [textContent]="walk.longerDescription | valueOrDefault"></td>
  </tr>
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Distance:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px"
        [textContent]="walk.distance | valueOrDefault"></td>
  </tr>
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Nearest Town:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px"
        [textContent]="walk.nearestTown | valueOrDefault"></td>
  </tr>
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Grade:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px"
        [textContent]="walk.grade | valueOrDefault"></td>
  </tr>
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Grid Ref:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px">
      <a [href]="'http://gridreferencefinder.com/?gr=' + walk.gridReference" target="_blank"><span
        [textContent]="walk.gridReference | valueOrDefault"></span></a></td>
  </tr>
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Postcode:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px">
      <a [href]="googleMapsService.urlForPostcode(walk.postcode)" target="_blank"><span
        [textContent]="walk.postcode | valueOrDefault"></span></a></td>
  </tr>
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Display Name:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px"
        [textContent]="walk.displayName | valueOrDefault"></td>
  </tr>

  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Contact Email:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px"><a
      [href]="'mailto:'+ walk.contactEmail"><span
      [textContent]="walk.contactEmail | valueOrDefault"></span></a></td>
  </tr>
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Contact Phone:</td>
    <td style="border:1px solid lightgrey; font-weight: normal; padding: 6px"
        [textContent]="walk.contactPhone"></td>
  </tr>
  <tr>
</table>
