<table style="cellpadding:10; border:1px solid lightgrey;border-collapse:collapse;width: 100%;border-spacing: 5px;">
  <tr>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">Item changed</td>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">From</td>
    <td style="border:1px solid lightgrey; font-weight: bold; padding: 6px">To</td>
  </tr>
  <tr *ngFor="let item of walkDataAudit.changedItems">
    <td style="border:1px solid lightgrey; padding: 6px" [textContent]="item.fieldName | humanise"></td>
    <td style="border:1px solid lightgrey; padding: 6px"
        [textContent]="item.previousValue | auditDeltaValue : item.fieldName : members : '(none)'"></td>
    <td style="border:1px solid lightgrey; padding: 6px"
        [textContent]="item.currentValue | auditDeltaValue : item.fieldName : members : '(none)'"></td>
  </tr>
</table>
