.edit
  position: absolute
  top: -2px
  right: 10px
  z-index: 10000

.edit-full-screen
  position: absolute
  top: -2px
  right: 10px
  z-index: 10000

.view
  position: absolute
  top: -2px
  right: 10px
  z-index: 10000

.list
  margin: 10px 0px 0px -15px
  z-index: 10000

.view-single
  position: absolute
  top: -2px
  right: 10px
  z-index: 10000
