.edit
  position: absolute
  top: -2px
  right: 10px
  z-index: 5

.edit-full-screen
  position: absolute
  top: -2px
  right: 10px
  z-index: 5

.view
  position: absolute
  top: -2px
  right: 10px
  z-index: 5

.list
  display: flex
  align-items: center
  justify-content: center
  z-index: 5

.view-single
  position: absolute
  top: 3px
  right: 9px
  z-index: 5

::ng-deep .expander-icons fa-icon
  display: inline-flex
  width: auto

::ng-deep .expander-icons .svg-inline--fa
  width: 0.75em
