@media (min-width: 992px)
  :host
    display: flex
    flex-wrap: nowrap
    align-items: center
    justify-content: flex-end
    width: 100%
    min-width: 0

li.navigation a
  @media (max-width: 991px)
    font-size: 1.5rem !important