<app-page>
  <div class="row">
    <div class="col-sm-8">
      <app-markdown-editor name="joinUsTop" description="join us top"></app-markdown-editor>
      <div class="check-list rounded">
        <app-markdown-editor name="memberBenefits" description="member benefits"></app-markdown-editor>
      </div>
      <div class="cta-button cta-red rounded">
        <a href="https://www.ramblers.org.uk/become-a-member/join-us.aspx"
           title="Become a member today and get even more from walking!">Become a member today and get even more from
          walking!</a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row">

        <div class="cta-button cta-blue rounded">
          <a href="https://www.ramblers.org.uk/Login.aspx?returnUrl=%2Fmy-account%2Frenew-your-membership.aspx"
             title="Renew online">Renew online</a>
        </div>

        <div class="check-list rounded">
          <app-markdown-editor name="whyJoin" description="Why join?"></app-markdown-editor>
        </div>

        <app-markdown-editor name="whyJoinImage" description="Why join image"></app-markdown-editor>

        <div class="check-list rounded">
          <app-markdown-editor name="memberOffers" description="Member Offers"></app-markdown-editor>
        </div>

        <app-markdown-editor name="memberOffersImage" description="Member Offers image"></app-markdown-editor>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 body-content">
      <app-markdown-editor name="howToJoin" description="How to join"></app-markdown-editor>
    </div>
  </div>
</app-page>
