<div [ngClass]="{'busy': notifyTarget.busy}" id="reset-password-dialog" tabindex="-1" role="dialog"
     data-backdrop="false" aria-labelledby="modal-label">
  <div class="modal-header">
    <h4 class="modal-title">Reset my <em>{{group?.shortName}}</em> password</h4>
    <button (click)="bsModalRef.hide()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <div *ngIf="!invalidPasswordLink">
      <div class="row">
        <div class="col col-sm-12">
          <div class="form-group">
            <label for="reset-password-user-name">User Name</label>
            <input [disabled]="true" [(ngModel)]="userName" type="text" class="form-control input-sm"
                   id="reset-password-user-name" placeholder="Enter username">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-6">
          <div class="form-group">
            <label for="new-reset-password">New Password</label>
            <input [(ngModel)]="newPassword" type="password" class="form-control input-sm" id="new-reset-password"
                   placeholder="Enter new password">
          </div>
        </div>
        <div class="col col-sm-6">
          <div class="form-group">
            <label for="new-reset-password-confirm">Confirm New Password</label>
            <input [(ngModel)]="newPasswordConfirm" type="password" class="form-control input-sm"
                   id="new-reset-password-confirm"
                   placeholder="Confirm new password">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="notifyTarget.showAlert" class="row">
      <div class="col col-sm-12">
        <div class="alert {{notifyTarget.alertClass}}"><fa-icon [icon]="notifyTarget.alert.icon"></fa-icon><strong *ngIf="notifyTarget.alertTitle">
          {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
          <span *ngIf="notifyTarget.showContactUs"> contact our <app-contact-us class="alert-link" role="membership"
                                                                                text="Membership Administrator"></app-contact-us>.
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="row col-sm-12">
      <input type="submit" [disabled]="!submittable()" value="Confirm Reset" (click)="resetPassword()"
             title="Confirm Reset"
             [ngClass]="submittable() ? 'button-form button-form-left': 'disabled-button-form button-form-left'">
      <input type="reset" value="Cancel" (click)="close()" title="Cancel reset passwprd"
             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
      <input type="reset" value="Restart Forgot Password" (click)="forgotPassword()"
             title="I've forgotten my password"
             [ngClass]="notifyTarget.busy ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
    </div>
  </div>
</div>
