<p [textContent]="notification?.content.addresseeType"></p>
<p markdown [data]="notification.content.text.value"></p>
<div *ngIf="notification?.content.includeDownloadInformation">
  <p>
    <b>File type:</b>
    <span [textContent]="committeeFile.fileType"></span>
    <br>
    <b>Description:</b>
    <span [textContent]="display.fileTitle(committeeFile)"></span>
  </p>
  <p>If you want to download this attachment you can click <a [href]="display.fileUrl(committeeFile)">here</a>,
    alternatively
    you can view or download it from our EKWG
    <a href="committee">Committee page</a>.
  </p>
</div>
<div *ngIf="selectedGroupEvents().length > 0">
  <h4><strong style="font-size:14px">Up and coming events</strong></h4>
  <div *ngFor="let event of selectedGroupEvents()">
    <p style="font-size: 14px;font-weight: bold">
      <span [textContent]="event.eventDate | displayDate"></span>
      <span *ngIf="event.eventTime"> • <span [textContent]="event.eventTime"></span>
      </span>
      •
      <span [textContent]="event.eventType.description"></span>
      •
      <app-link area="{{event.eventType.area}}"
                id="{{event.id}}"
                text="{{event.title}}"></app-link>
      <span *ngIf="event.distance"> •
        <span [textContent]="event.distance"></span>
      </span>
    </p>
    <div style="font-size: 14px;font-weight: bold">
      <span *ngIf="notification.groupEventsFilter.includeContact && event.contactName">
        Contact: <a [href]="'mailto:' + event.contactEmail">
        <span [textContent]="event.contactName || event.contactEmail"></span>
      </a>
        <span *ngIf="event.contactPhone"> ({{event.contactPhone}})</span>
      </span>
      <span *ngIf="notification.groupEventsFilter.includeLocation && event.postcode">
        • Location: <a [href]="googleMapsService.urlForPostcode(event.postcode)"
                       target="_blank">
        <span [textContent]="event.postcode"></span>
      </a></span>
    </div>
    <p markdown [data]="event.description" style="padding: 0px 0px 0px 0px"
       *ngIf="notification.groupEventsFilter.includeDescription"></p>
  </div>
</div>
<p *ngIf="notification.content.signoffText.include" [textContent]="notification?.content.signoffText.value"></p>
<app-contact-us *ngIf="notification?.content.signoffAs.include" format="list"
                [role]="notification?.content.signoffAs.value"></app-contact-us>
