<app-page>
  <div class="body-content">
    <div class="row">
      <div class="col-sm-4 item-panel">
        <div (click)="selectWalksForExport()" class="item-icon">
          <fa-icon [icon]="faFileExport" class="fa-3x ramblers"></fa-icon>
          <h5>Ramblers export</h5>
        </div>
        <app-markdown-editor name="ramblers-export-help" description="Ramblers export help"></app-markdown-editor>
      </div>
      <div class="col-sm-4 item-panel">
        <div (click)="addWalkSlots()" class="item-icon">
          <fa-icon [icon]="faCalendarPlus" class="fa-3x calendar"></fa-icon>
          <h5>Add walk slots</h5>
        </div>
        <app-markdown-editor name="add-walks-slots-help" description="Add walk slots help"></app-markdown-editor>
      </div>
      <div class="col-sm-4 item-panel">
        <div (click)="meetupSettings()" class="item-icon">
          <fa-icon [icon]="faMeetup" class="fa-3x meetup"></fa-icon>
          <h5>Meetup settings</h5>
        </div>
        <app-markdown-editor name="meetup-settings-help" description="Meetup settings help"></app-markdown-editor>
      </div>
    </div>
  </div>
</app-page>
