<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Send <em>Social Event</em> Notification</h4>
    <button (click)="bsModalRef.hide()" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
    </button>
  </div>
  <div class="modal-body" *ngIf="socialEvent?.notification?.content?.title">
    <tabset class="custom-tabset" *ngIf="socialEvent?.notification?.content">
      <tab [heading]="'Recipients & Addressing'">
        <div class="img-thumbnail thumbnail-admin-edit">
          <div class="row">
            <div class="col-sm-7"><label>Send to:</label>
              <div class="form-group">
                <div class="custom-control custom-radio" *ngIf="mailchimpConfig?.lists?.socialEvents">
                  <input (click)="clearRecipients()" id="all-social-members"
                         type="radio"
                         class="custom-control-input"
                         [(ngModel)]="socialEvent?.notification?.content.destinationType"
                         name="send-to"
                         value="all-social-members"/>
                  <label class="custom-control-label" for="all-social-members">{{display.memberFilterSelections?.length}}
                    Social Group Members</label>
                  <a class="ml-4" *ngIf="display.memberFilterSelections.length>0"
                     (click)="editAllSocialRecipients()">(edit)</a>
                </div>
                <div class="custom-control custom-radio" *ngIf="mailchimpConfig?.lists?.socialEvents">
                  <input (click)="clearRecipients()"
                         [disabled]="socialEvent.attendees.length===0"
                         id="attendees"
                         name="send-to"
                         type="radio"
                         class="custom-control-input"
                         [(ngModel)]="socialEvent.notification.content.destinationType"
                         value="attendees"/>
                  <label class="custom-control-label" for="attendees">{{socialEvent.attendees.length}}
                    Attendees</label><a class="ml-4" *ngIf="socialEvent.attendees.length>0"
                                        (click)="editAttendeeRecipients()">(edit)</a>
                </div>
                <div class="custom-control custom-radio">
                  <input id="custom"
                         type="radio"
                         class="custom-control-input"
                         name="send-to"
                         [(ngModel)]="socialEvent.notification.content.destinationType"
                         value="custom"/>
                  <label class="custom-control-label" for="custom"><span
                    *ngIf="socialEvent?.notification?.content?.selectedMemberIds?.length===0">Choose individual recipients</span>
                    <span *ngIf="socialEvent?.notification?.content?.selectedMemberIds?.length>0">
                          {{socialEvent?.notification?.content?.selectedMemberIds?.length}} recipient(s) chosen</span>
                  </label>
                  <a class="ml-4" *ngIf="socialEvent.notification.content.selectedMemberIds.length>0"
                     (click)="clearRecipients()">(clear)</a>
                </div>
              </div>
            </div>
            <div class="col col-sm-5"><label>Address as:</label>
              <div class="form-group">
                <div class="custom-control custom-radio">
                  <input id="addressee-first-name"
                         type="radio"
                         class="custom-control-input"
                         name="address-as"
                         [(ngModel)]="socialEvent.notification.content.addresseeType"
                         value="Hi *|FNAME|*,"/>
                  <label class="custom-control-label" for="addressee-first-name">Hi <i>first name</i></label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="addressee-all"
                         type="radio"
                         class="custom-control-input"
                         name="address-as"
                         [(ngModel)]="socialEvent.notification.content.addresseeType"
                         value="Hi all,"/>
                  <label class="custom-control-label" for="addressee-all">Hi all</label>
                </div>
                <div class="custom-control custom-radio">
                  <input id="addressee-none"
                         type="radio"
                         class="custom-control-input"
                         name="address-as"
                         [(ngModel)]="socialEvent.notification.content.addresseeType"
                         value=""/>
                  <label class="custom-control-label" for="addressee-none">No addressing</label>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="socialEvent.notification.content.destinationType ==='custom'">
            <div class="col-sm-12">
              <div class="form-group" placement="bottom"
                   [tooltip]="helpMembers()">
                <ng-select [items]="display.memberFilterSelections"
                           bindLabel="text"
                           name="member-selector"
                           bindValue="id"
                           placeholder="Select one or more members"
                           [disabled]="notifyTarget.busy"
                           [dropdownPosition]="'bottom'"
                           [groupBy]="groupBy"
                           [groupValue]="groupValue"
                           [multiple]="true"
                           [closeOnSelect]="true"
                           (change)="onChange($event)"
                           [(ngModel)]="socialEvent.notification.content.selectedMemberIds">
                  <ng-template ng-optgroup-tmp let-item="item">
                    <span class="group-header">{{item.name}} members</span>
                    <span class="ml-1 badge badge-secondary badge-group"> {{item.total}} </span>
                  </ng-template>
                </ng-select>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'Edit Content'">
        <div class="img-thumbnail thumbnail-admin-edit">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="socialEvent.notification.content.title.include"
                         type="checkbox" class="custom-control-input"
                         id="include-title">
                  <label class="custom-control-label"
                         for="include-title">Include Title:
                  </label>
                </div>
                <textarea [(ngModel)]="socialEvent.briefDescription"
                          class="form-control input-sm"
                          [disabled]="!socialEvent?.notification?.content?.title?.include"
                          rows="1"
                          id="title"
                          placeholder="Enter the title you'd like at the top of the notification here">
                                              </textarea>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="socialEvent?.notification?.content?.eventDetails">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input
                    [(ngModel)]="socialEvent.notification.content.eventDetails.include"
                    type="checkbox" class="custom-control-input"
                    id="include-event-details">
                  <label class="custom-control-label"
                         for="include-event-details">Include Event details with title:
                  </label>
                </div>
                <input [(ngModel)]="socialEvent.notification.content.eventDetails.value"
                       type="text"
                       class="form-control input-sm"
                       [disabled]="!socialEvent?.notification?.content?.eventDetails?.include"
                       placeholder="Enter heading of event detail here">
              </div>
              <div class="row" *ngIf="socialEvent.attendees.length>0">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input
                        [(ngModel)]="socialEvent.notification.content.attendees.include"
                        type="checkbox" class="custom-control-input"
                        id="include-attendees">
                      <label
                        class="custom-control-label"
                        for="include-attendees">Include List of attendees:
                        <span
                          style="font-weight: normal"> ({{display.attendeeList(socialEvent, display.memberFilterSelections)}}
                          )</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input [(ngModel)]="socialEvent.notification.content.replyTo.include"
                             type="checkbox" class="custom-control-input"
                             id="include-reply-to">
                      <label class="custom-control-label"
                             for="include-reply-to">Send replies to:
                      </label>
                    </div>
                    <select [(ngModel)]="socialEvent.notification.content.replyTo.value" id="replyTo"
                            [disabled]="!socialEvent?.notification?.content?.replyTo?.include"
                            class="form-control input-sm">
                      <option *ngFor="let role of roles.replyTo"
                              [ngValue]="role.memberId"
                              [textContent]="role.nameAndDescription">
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input
                    [(ngModel)]="socialEvent.notification.content.text.include"
                    type="checkbox" class="custom-control-input"
                    id="include-notification-text">
                  <label
                    class="custom-control-label"
                    for="include-notification-text">Include Notification text:
                  </label>
                </div>
                <textarea [(ngModel)]="socialEvent.notification.content.text.value"
                          class="form-control input-sm" rows="5"
                          id="free-text"
                          [disabled]="!socialEvent?.notification?.content?.text?.include"
                          placeholder="Enter free text to be included of the notification here">
                                              </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input
                    [(ngModel)]="socialEvent.notification.content.description.include"
                    type="checkbox" class="custom-control-input"
                    id="include-description">
                  <label class="custom-control-label"
                         for="include-description">Include Social Event Description text:
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="socialEvent.attachment">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="socialEvent.notification.content.attachment.include"
                         type="checkbox" class="custom-control-input"
                         id="include-attachment">
                  <label class="custom-control-label"
                         for="include-attachment">Include link to attachment:
                    <span
                      style="font-weight: normal"> {{display.attachmentTitle(socialEvent)}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'Signing Off'">
        <div class="img-thumbnail thumbnail-admin-edit">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="socialEvent.notification.content.signoffText.include"
                         type="checkbox" class="custom-control-input"
                         id="include-signoff-text">
                  <label
                    class="custom-control-label"
                    for="include-signoff-text">Signoff with text:
                  </label>
                </div>
                <textarea [(ngModel)]="socialEvent.notification.content.signoffText.value"
                          class="form-control input-sm"
                          [disabled]="!socialEvent?.notification?.content?.signoffText?.include"
                          rows="3"
                          id="signoff-text"
                          placeholder="Enter any signoff text to be included of the notification here">
                                              </textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input [(ngModel)]="socialEvent.notification.content.signoffAs.include"
                         type="checkbox" class="custom-control-input"
                         id="include-signoff-as">
                  <label class="custom-control-label"
                         for="include-signoff-as">Signoff as:
                  </label>
                </div>
                <select [(ngModel)]="socialEvent.notification.content.signoffAs.value"
                        id="signoff-as"
                        [disabled]="!socialEvent?.notification?.content?.signoffAs?.include"
                        class="form-control input-sm">
                  <option *ngFor="let role of roles.signoff"
                          [ngValue]="role.memberId"
                          [textContent]="role.nameAndDescription">
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab [heading]="'Preview'">
        <div class="img-thumbnail thumbnail-admin-edit">
          <div id="preview" class="print-preview">
            <ng-template app-social-notification-template></ng-template>
            <h2 class="mb-3">{{socialEvent.notification.content.title.value}}</h2>
            <app-social-notification-details [members]="toMembers()" [socialEvent]="socialEvent">
            </app-social-notification-details>
          </div>
        </div>
      </tab>
    </tabset>
    <div *ngIf="notifyTarget.showAlert" class="row">
      <div class="col-sm-12 mb-10">
        <div class="alert {{notifyTarget.alertClass}}">
          <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
          <strong *ngIf="notifyTarget.alertTitle">
            {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" value="Confirm Send" (click)="confirmSendNotification()"
           title="Confirm sending of notification email"
           [disabled]="notReady()"
           class="button-form green-confirm button-form-left"
           [ngClass]="{'disabled-button-form': notReady()}">
    <input type="submit" value="Complete in {{systemConfig?.mailDefaults?.mailProvider| titlecase}}" (click)="completeInMailSystem()"
           [disabled]="notReady()"
           title="Complete editing and sending of {{systemConfig?.mailDefaults?.mailProvider| titlecase}}"
           class="button-form blue-confirm button-form-left"
           [ngClass]="{'disabled-button-form': notReady()}">
    <input type="submit" value="Save and Send Later" (click)="saveAndSendLater()"
           title="Send Later"
           class="button-form button-form-left amber-confirm">
    <input type="submit" value="Cancel Send" (click)="cancelSendNotification()"
           title="Cancel sending of notification email"
           class="button-form button-confirm button-form-left">
  </div>
</div>

