@import "../../../../assets/styles/colours"

.card-img-top
  max-width: 100%

.card-image-link
  cursor: pointer
  display: block

  .card-img-top
    cursor: pointer

.no-image
  height: 200px

.small-icon-container
  height: 100px
  margin-top: 25px

.card-img-fixed-height
  height: 200px
  object-fit: cover

.button-container
  z-index: 1000

.btn-group.button-container
  width: auto

  .dropdown-menu
    min-width: 100%
    width: 100%
