@import "../../../../assets/styles/colours"

.card-img-top
  max-width: 100%

.card-img-clickable
  cursor: pointer

.no-image
  height: 200px

.small-icon-container
  height: 100px
  margin-top: 25px

.card-img-fixed-height
  height: 200px
  object-fit: cover

.button-container
  z-index: 1000

.btn-group.button-container
  width: auto

  .btn-primary,
  .btn-primary:not(:disabled):not(.disabled):active,
  .btn-primary:not(:disabled):not(.disabled).active
    color: $ramblers-colour-black
    background-color: $ramblers-colour-sunrise
    border-color: $ramblers-colour-sunrise

  .btn-primary:hover,
  .btn-primary:focus
    color: $ramblers-colour-black
    background-color: $ramblers-colour-sunrise-hover-background
    border-color: $ramblers-colour-sunrise-hover-border

  .dropdown-menu
    min-width: 100%
    width: 100%
    padding: 0
    background-color: $ramblers-colour-sunrise
    border-color: $ramblers-colour-sunrise

  .dropdown-item
    color: $ramblers-colour-black
    font-family: "rucksack"
    font-size: 1rem
    font-weight: 700
    line-height: 1.1
    text-align: left
    text-decoration: none
    padding: var(--btn-pad-y) var(--btn-pad-x)

  .dropdown-item:hover,
  .dropdown-item:focus
    background-color: $ramblers-colour-sunrise-hover-background
    color: $ramblers-colour-black

.btn-group.button-container.show > .btn-primary.dropdown-toggle,
.btn-group.button-container.show > .btn-primary.dropdown-toggle:hover,
.btn-group.button-container.show > .btn-primary.dropdown-toggle:focus
  color: $ramblers-colour-black
  background-color: $ramblers-colour-sunrise
  border-color: $ramblers-colour-sunrise
