<div class="row">
  <div class="col-sm-12">
    <div class="img-thumbnail thumbnail-walk-edit">
      <div class="thumbnail-heading">{{riskAssessmentSection}}</div>
      <div class="row">
        <div class="col-sm-12">
          <app-markdown-editor standalone [category]="'risk-assessments'" [name]="'risk-assessments-' +riskAssessmentKey"
                               [presentationMode]="inputDisabled"
                               [hideEditToggle]="inputDisabled"
                               [description]="riskAssessmentSection"/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
                <textarea [disabled]="inputDisabled || !display.allowEdits(displayedWalk.walk)"
                          #input (input)="confirmParameterText(input.value)"
                          [value]="riskAssessmentConfirmationText()" type="text"
                          class="form-control input-sm" rows="2"
                          [id]="'risk-assessment-text-' + riskAssessmentKey"
                          [placeholder]="'Optional: Enter any free text related to ' + riskAssessmentSection + ' section here'"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <div class="form-check">
            <input #checkbox (change)="confirmParameter(checkbox.checked)"
                   [checked]="riskAssessmentConfirmed()" type="checkbox" class="form-check-input"
                   [disabled]="inputDisabled || !display.allowEdits(displayedWalk.walk)"
                   [id]="'risk-assessment-' + riskAssessmentKey">
            <label class="form-check-label"
                   [for]="'risk-assessment-' + riskAssessmentKey">{{confirmLabel()}}
            </label>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
