<div class="row d-flex align-items-stretch">
  <div class="px-0 col">
    <div class="container">
      <div class="row d-flex align-items-stretch">
        <div class="p-0 ml-lg-3 col {{systemConfig?.header?.navBar?.class}}">
          <nav class="navbar navbar-expand-lg justify-content-between">
            <a class="navbar-brand" [href]="urlService.baseUrl()" aria-current="page" target="_self">
              @if (logo?.awsFileName) {
                <img [src]="urlService.resourceRelativePathForAWSFileName(logo?.awsFileName)"
                     [alt]="systemConfig?.group?.shortName" [width]="logo?.width">
              }</a>
            <button type="button" aria-label="Toggle navigation"
                    class="navbar-toggler border-0 rounded-0 collapsed"
                    data-toggle="collapse" data-target="#nav-collapse" aria-controls="nav-collapse"
                    aria-expanded="false">
              <app-svg [height]="27"
                       [width]="27"
                       [colour]="systemConfig?.header?.navBar?.class==classBackgroundDark?colourCloudy:colourGranite"
                       [icon]="icon()"
                       (click)="toggleNavBar()"/>
            </button>
            @if (navbarContentWithinCollapse && navbarExpanded) {
              <div class="collapse navbar-collapse"
                   id="nav-collapse">
                <app-navbar-content/>
              </div>
            }
            @if (!navbarContentWithinCollapse && systemConfig?.header?.navBar?.location === NavBarLocation.LOGO_RIGHT) {
              <app-navbar-content
              />
            }
          </nav>
        </div>
        @if (!navbarContentWithinCollapse && systemConfig?.header?.rightPanel?.show) {
          <div
            class="p-0 mr-lg-3 col-auto {{systemConfig?.header?.navBar?.class}} pt-3 pr-2">
            @if (systemConfig?.header?.rightPanel?.showNavigationButtons) {
              <app-header-buttons/>
            }
            @if (systemConfig?.header?.rightPanel?.showLoginLinksAndSiteEdit) {
              <app-login-panel/>
            }
            @if (systemConfig?.header?.rightPanel?.socialMediaLinks?.show) {
              <div class="float-right mr-2"
                   [ngStyle]="{'width.px': systemConfig?.header?.rightPanel?.socialMediaLinks?.width}"
              >
                <app-social-media-links [colour]="systemConfig?.header?.rightPanel?.socialMediaLinks?.colour"/>
              </div>
            }
          </div>
        }
      </div>
      @if (systemConfig?.header?.navBar?.location === NavBarLocation.BELOW_LOGO) {
        <div class="row">
          <div class="p-0 px-lg-3 col">
            @if (!navbarContentWithinCollapse) {
              <app-navbar-content/>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
