@import "../../../assets/styles/colours"

.row.display-flex
  display: flex
  flex-wrap: wrap

.row.display-flex > [class*='col-']
  flex-grow: 1

.button-bottom-aligned
  margin: 34px 0px 0px -14px

.grid-ref-btn
  margin-top: 26px

.input-led-by
  margin-left: 10px
  display: inline
  width: 350px
  height: 30px
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: #495057
  background-color: #fff
  background-clip: padding-box
  border: 1px solid #ced4da
  border-radius: 0.25rem

.tabset-container
  position: relative
