@import "../../../assets/styles/colours"

.row.display-flex
  display: flex
  flex-wrap: wrap

.row.display-flex > [class*='col-']
  flex-grow: 1

.grid-ref-btn
  margin-top: 26px

.tabset-container
  position: relative
