<app-page>
  <tabset class="custom-tabset">
    <tab active="true" [heading]="'Walk upload selection'">
      <div class="img-thumbnail thumbnail-admin-edit">
        <div class="form-group">
          <div *ngIf="walkExportTarget.showAlert" class="alert {{walkExportTarget.alertClass}}">
            <fa-icon [icon]="walkExportTarget.alert.icon"></fa-icon>
            <strong *ngIf="walkExportTarget.alertTitle">
              {{walkExportTarget.alertTitle}}: </strong> {{walkExportTarget.alertMessage}}
          </div>
        </div>
              <div class="row mb-2">
                <div class="col-sm-12 form-inline">
                  <input *ngIf="walksDownloadFileContents().length > 0" type="submit"
                         value="Upload {{walksDownloadFileContents().length}} walk(s) directly to Ramblers"
                         (click)="uploadToRamblers()"
                         [ngClass]="exportInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                  <angular2csv hidden #csvComponent [data]="walksDownloadFileContents()"
                               [filename]="walksDownloadFileName()"
                               [options]="options()"></angular2csv>
                  <input  *ngIf="walksDownloadFileContents().length > 0" type="submit"
                         (click)="csvComponent.generateCsv();"
                         value="Export {{walksDownloadFileContents().length}} walk(s) file as CSV format"
                         [ngClass]="exportInProgress ? 'disabled-button-form button-form-left': 'button-form button-form-left'">
                  <input type="submit" value="Back to walks" (click)="navigateBackToWalks()"
                         title="Back to walks"
                         class="button-form button-form-left">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <table class="round styled-table table-striped table-hover table-sm table-pointer">
                    <thead>
                    <tr>
                      <th>Click to Export</th>
                      <th>Already Published</th>
                      <th>Walk Date</th>
                      <th>Leader</th>
                      <th>Status</th>
                      <th>Description</th>
                      <th>Problems</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let walkExport of walksForExport">
                      <td (click)="changeWalkExportSelection(walkExport)"
                          [ngClass]="walkExport.selected ? 'yes' : 'no'">
                        <div class="custom-control custom-checkbox">
                          <input [ngModel]="walkExport.selected"
                                 type="checkbox" class="custom-control-input">
                          <label class="custom-control-label"></label></div></td>
                      <td>{{walkExport.publishedOnRamblers}}</td>
                      <td class="nowrap">{{walkExport.displayedWalk.walk.walkDate | displayDate}}</td>
                      <td class="nowrap">{{walkExport.displayedWalk.walk.displayName}}</td>
                      <td>{{walkExport.displayedWalk.latestEventType.description}}</td>
                      <td>{{walkExport.displayedWalk.walk.briefDescriptionAndStartPoint}}</td>
                      <td>{{walkExport.validationMessages.join(", ")}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </tab>
          <tab [heading]="'Walk upload audit'">
            <div class="img-thumbnail thumbnail-admin-edit">
              <div class="form-group">
                <div *ngIf="auditTarget.showAlert" class="alert {{auditTarget.alertClass}}">
                  <fa-icon [icon]="auditTarget.alert.icon"></fa-icon>
                  <strong *ngIf="auditTarget.alertTitle">
                    {{auditTarget.alertTitle}}: </strong> {{auditTarget.alertMessage}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="button-group">
                    <form class="form-inline">
                      <div class="form-group">
                        <label for="fileName" class="inline-label">Show upload session: </label>
                        <select class="form-control input-sm"
                                id="fileName"
                                name="filename"
                                (change)="fileNameChanged()"
                                [(ngModel)]="fileName"
                                class="form-control input-sm" id="fileNames">
                          <option *ngFor="let fileName of fileNames"
                                  [ngValue]="fileName"
                                  [textContent]="fileName">
                          </option>
                        </select>
                      </div>
                      <div class="form-group">
                        <div class="custom-control custom-checkbox">
                          <input [(ngModel)]="showDetail"
                                 name="showDetail" type="checkbox" class="custom-control-input" id="show-detailed-audit-messages">
                          <label class="custom-control-label"
                                 (click)="fileNameChanged()"
                                 for="show-detailed-audit-messages">Show details
                          </label>
                        </div>
                      </div>
                      <div class="form-group">
                        <input type="submit" value="Back to walks" (click)="navigateBackToWalks()"
                               title="Back to walks"
                               class="button-form button-form-left">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col col-sm-12">
                  <table class="round styled-table table-striped table-hover table-sm table-pointer">
                    <thead>
                    <tr>
                      <th>Date/Time</th>
                      <th>Status</th>
                      <th>Audit Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let audit of ramblersUploadAuditData">
                      <td class="nowrap">{{audit.auditTime | displayDateAndTime}}</td>
                      <td *ngIf="audit.status==='complete'">
                        <fa-icon [icon]="finalStatusError ? faRemove : faCircleInfo" [ngClass]="finalStatusError ? 'red-icon':
                          'green-icon'"></fa-icon>
                      <td *ngIf="audit.status==='success'">
                        <fa-icon [icon]="faEye" class="green-icon"></fa-icon>
                      <td *ngIf="audit.status==='info'">
                        <fa-icon [icon]="faCircleInfo" class="blue-icon"></fa-icon>
                      <td *ngIf="audit.status==='error'">
                        <fa-icon [icon]="faRemove" class="red-icon"></fa-icon>
                      <td>{{audit.message}}<span
                        *ngIf="audit.errorResponse">: {{audit.errorResponse | valueOrDefault}}</span></td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </tab>
  </tabset>
</app-page>
