<div class="row d-none d-lg-block">
  <div class="px-0 bg-dark col">
    <div class="container">
      <div class="row p-2">
        <div class="d-block d-sm-flex align-items-center col-md-4">
          <app-login-panel  *ngIf="systemConfig?.header?.headerBar?.showLoginLinksAndSiteEdit"/>
        </div>
        <div
          class="d-block d-sm-flex align-items-center justify-content-center justify-content-lg-end col-md-8 order-sm-3 col-12 order-3">
          <app-header-buttons *ngIf="systemConfig?.header?.headerBar?.showNavigationButtons"/>
        </div>
      </div>
    </div>
  </div>
</div>
