<h3>{{params.messageMergeFields.subject}}</h3>
<p>{{params.messageMergeFields.ADDRESS_LINE}}</p>
<p>Sorry you are having trouble logging into the {{params.systemMergeFields.APP_SHORTNAME}} site. To reset your password, click <a href="{{params.systemMergeFields.PW_RESET_LINK}}" target="_blank" style="color: #c05711; text-decoration: underline;">Reset Your Password</a>.</p>
<p>You will be redirected to a page on our website where you will be guided through the password reset process and all should be well.</p>
<p>Please note that after you complete the password reset and you next login, you will be asked to enter your <strong>User Name</strong> which is <strong>{{params.memberMergeFields.USERNAME}}</strong></p>
<p>If you have any trouble performing this password reset or you have any other problems with the website, please don't hesitate to contact one of us by clicking on the most suitable email link below:</p>
<p>{{params.messageMergeFields.SIGNOFF_NAMES}}</p>
