<h3>{{params.messageMergeFields.subject}}</h3>
<p>{{params.messageMergeFields.ADDRESS_LINE}}</p>
<p>We've noticed that the Ramblers membership expiry date we have in our records for you has now passed, or Ramblers have stopped sending us your monthly member data. This email is therefore to notify you that we'll need to now remove you from our mailing lists in order to comply with GDPR regulations.</p>
<p>For your information, the membership data we have on file for you is as follows:</p>
<table style="border: 1px solid lightgrey; border-collapse: collapse; width: 100%;">
  <tr>
    <td style="border: 1px solid lightgrey; font-weight: bold; padding: 6px;">Membership Id</td>
    <td style="border: 1px solid lightgrey; font-weight: bold; padding: 6px;">Expiration Date</td>
  </tr>
  <tr>
    <td style="border: 1px solid lightgrey; padding: 6px;">{{params.memberMergeFields.MEMBER_NUM}}</td>
    <td style="border: 1px solid lightgrey; padding: 6px;">{{params.memberMergeFields.MEMBER_EXP}}</td>
  </tr>
</table>
<p>If you intended for your {{params.systemMergeFields.APP_SHORTNAME}} membership to expire or be moved to another group, then no action needs to be taken by you. However, if you would like to renew your Ramblers membership or transfer your membership with another group back to {{params.systemMergeFields.APP_SHORTNAME}}, then please see the <a href="{{params.systemMergeFields.APP_URL}}/join-us" target="_blank" style="color: #c05711; text-decoration: underline;">join us</a> section on our website.</p>
<p>If you have any questions please don't hesitate to email me using the address below.</p>
<p>{{params.messageMergeFields.SIGNOFF_NAMES}}</p>
