<h3>{{params.messageMergeFields.subject}}</h3>
<p>{{params.messageMergeFields.ADDRESS_LINE}}</p>
<p>We're sending you this email because you've either mentioned to one of our website administrators that you are having trouble logging in to the site, or you've forgotten your login details and you can't find the original welcome email we sent you or it never arrived in your inbox for some reason! Whatever happened, we hope that after reading this you'll get any remaining issues resolved and you'll be able to login and fully use the site.</p>
<p>To reset your password, click <a href="{{params.systemMergeFields.PW_RESET_LINK}}" target="_blank" style="color: #c05711; text-decoration: underline;">Reset Your Password</a>.</p>
<p>You will be redirected to a page on the site where you will be guided through the password reset process and all should be well.</p>
<p>You'll see a login popup displayed. Once you enter the details above, and click the <strong>Login</strong> button you will be prompted to change your password.</p>
<p>At this point, you will need to choose and confirm a new password and click <strong>Login</strong>, you will be logged into the site and you'll be able to see the unlocked information like the extra Social Events detail and your profile.</p>
<p>Please note on following logins, you will first be asked to enter your User Name which is: <strong>{{params.memberMergeFields.USERNAME}}</strong>, and from that point you will use your new password.</p>
<p>If you have any trouble performing this password reset or have any problems with the site, please don't hesitate to contact us by clicking on the most suitable email link below:</p>
<p>{{params.messageMergeFields.SIGNOFF_NAMES}}</p>
