<div class="carousel-wrapper">
  <div class="slider-container">
    <div class="sc-inner">
      <app-carousel-story-navigator *ngIf="preview? false: !hideStoryNavigator && album.showStoryNavigator"
                                    [imageTags]="lazyLoadingMetadata?.contentMetadata?.imageTags"
                                    [index]="index"
                                    (tagChanged)="tagChanged($event)"/>
      <carousel *ngIf="lazyLoadingMetadata" (mouseenter)="mouseEnter($event)"(mouseleave)="mouseLeave($event)" [isAnimated]="true" [noPause]="noPause" [pauseOnFocus]="noPause"
                [interval]="album.slideInterval || 5000"
                [showIndicators]="album.showIndicators && showIndicators"
                [(activeSlide)]="lazyLoadingMetadata.activeSlideIndex"
                (activeSlideChange)="activeSlideChange(false, $event)">
        <slide *ngFor="let slide of lazyLoadingMetadata?.selectedSlides">
          <img loading="lazy" *ngIf="slide" [src]="imageSourceFor(slide)"
               [alt]="slide.text" [ngStyle]="{'height.px': album.height,
                'min-width': '100%',
                 'max-width': '100%',
                 'object-fit': 'cover',
                 'object-position': 'center'}">
          <div class="carousel-caption">
            <h4>{{ slide.text || album.subtitle }}</h4>
            <div *ngIf="slide.eventId || album.eventId">
              <a delay="500" class="badge event-date"
                 [tooltip]="eventTooltip(slide.eventId? slide.dateSource : album.eventType)"
                 [placement]="!showIndicators?'bottom':'right'"
                 [href]="urlService.eventUrl(slide.eventId? slide : {dateSource:album.eventType, eventId: album.eventId})">
                on {{slide.date | displayDate}}</a>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
