<div class="carousel-wrapper">
  <div class="slider-container">
    <div class="sc-inner" *ngIf="lazyLoadingMetadata">
      <carousel [noPause]="false" [isAnimated]="true"
                [interval]="album.slideInterval || 5000"
                [showIndicators]="album.showIndicators && showIndicators"
                [(activeSlide)]="lazyLoadingMetadata.activeSlideIndex"
                (activeSlideChange)="activeSlideChange(false, $event)">
        <app-carousel-story-navigator *ngIf="!hideStoryNavigator && album.showStoryNavigator"
                                      [imageTags]="lazyLoadingMetadata.contentMetadata?.imageTags"
                                      [index]="index"
                                      (tagChanged)="tagChanged($event)"></app-carousel-story-navigator>
        <slide *ngFor="let slide of lazyLoadingMetadata.selectedSlides; let index = index;">
          <img class="img-fluid w-100" loading="lazy" *ngIf="slide" [src]="imageSourceFor(slide.image)"
               [alt]="slide.text">
          <div class="carousel-caption">
            <h4>{{slide.text}}</h4>
            <div *ngIf="slide.eventId">
              <a delay="500" class="badge event-date"
                 [tooltip]="eventTooltip(slide)"
                 [placement]="!showIndicators?'bottom':'right'" [href]="urlService.eventUrl(slide)">
                on {{slide.date | displayDate}}</a>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
