<div class="carousel-wrapper">
  <div class="slider-container">
    <div class="sc-inner">
      <carousel [noPause]="false" [isAnimated]="true"
                [interval]="carouselData.slideInterval || 5000"
                [showIndicators]="carouselData.showIndicators && showIndicators"
                [(activeSlide)]="activeSlideIndex"
                (activeSlideChange)="activeSlideChange(false, $event)">
        <app-carousel-story-navigator *ngIf="!hideStoryNavigator && carouselData.showStoryNavigator"
                                      [imageTags]="contentMetadata?.imageTags"
                                      [index]="index"
                                      (tagChanged)="tagChanged($event)"></app-carousel-story-navigator>
        <slide *ngFor="let slide of viewableSlides; let index = index;">
          <img class="img-fluid" loading="lazy" *ngIf="slide" [src]="imageSourceFor(slide.image)" [alt]="slide.text"
               style="display: block; width: 100%;">
          <div class="carousel-caption">
            <h4>{{slide.text}}</h4>
            <div>
              <a delay="500" class="badge event-date"
                 *ngIf="showIndicators && slide.eventId" [tooltip]="eventTooltip(slide)"
                 [placement]="'right'" [href]="eventUrl(slide)">
                on {{slide.date | displayDate}}  </a>
              <a delay="500" class="badge event-date"
                 *ngIf="!showIndicators && slide.eventId" [tooltip]="eventTooltip(slide)"
                 [placement]="'bottom'" [href]="eventUrl(slide)">
                on {{slide.date | displayDate}}  </a>
            </div>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div>
