<app-page autoTitle>
  <div class="row">
    <div class="col-sm-3">
      <div class="item-panel-heading">
        <fa-icon [icon]="faUnlockAlt" class="fa-5x ramblers"></fa-icon>
        <h6>And optionally change login user name</h6>
      </div>
    </div>
    <div class="col col-sm-9">
      <form>
        @if (member) {
          <div class="row">
            <div class="col col-sm-12 mt-2">
              <div class="form-group">
                <label for="prof-login-user-name">Login User Name</label>
                <input [(ngModel)]="enteredMemberCredentials.userName" type="text" class="form-control input-sm"
                       autocomplete="username"
                       name="userName"
                       id="prof-login-user-name"
                       placeholder="Enter login user name here">
              </div>
            </div>
            <form class="col col-sm-12">
              <form class="form-group">
                <label for="prof-new-password">New Password</label>
                <app-secret-input
                  [(ngModel)]="enteredMemberCredentials.newPassword"
                  id="prof-new-password"
                  name="new-password"
                  [size]="InputSize.SM"
                  placeholder="Enter new password">
                </app-secret-input>
              </form>
            </form>
            <div class="col col-sm-12">
              <form class="form-group">
                <label for="prof-new-password-confirm">Confirm New Password</label>
                <app-secret-input
                  [(ngModel)]="enteredMemberCredentials.newPasswordConfirm"
                  id="prof-new-password-confirm"
                  name="newPassword"
                  [size]="InputSize.SM"
                  placeholder="Confirm new password">
                </app-secret-input>
              </form>
            </div>
            <div class="col col-sm-12 d-flex gap-2 flex-wrap">
              <input type="submit" [disabled]="false" value="Back to admin" (click)="profileService.backToAdmin()"
                     class="btn btn-secondary">
              <input type="submit" [disabled]="notifyTarget.busy" value="Reset Password" (click)="saveLoginDetails()"
                     class="btn btn-primary">
              <input type="submit" [disabled]="notifyTarget.busy" value="Undo Changes" (click)="undoLoginDetails()"
                     class="btn btn-secondary">
            </div>
          </div>
        }
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12">
      @if (notifyTarget.showAlert) {
        <div class="alert {{notifyTarget.alertClass}} mt-3">
          <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
          @if (notifyTarget.alertTitle) {
            <strong>
              {{ notifyTarget.alertTitle }}: </strong>
          } {{ notifyTarget.alertMessage }}
          @if (notifyTarget.showContactUs) {
            <span> contact our <app-contact-us class="alert-link" roles="membership"
                                               text="Membership Administrator"></app-contact-us>
            </span>
          }
        </div>
      }
    </div>
  </div>
</app-page>
