<app-page>
  <div class="row img-thumbnail">
    <div class="col-sm-3">
      <div class="item-panel-heading">
        <fa-icon [icon]="faUnlockAlt" class="fa-5x ramblers"></fa-icon>
        <h5>Change password</h5>
        <h6>And change login user name</h6>
      </div>
    </div>
    <div class="col col-sm-9">
      <form>
        <div class="row" *ngIf="member">
          <div class="col col-sm-12 mt-2">
            <div class="form-group">
              <label for="prof-login-user-name">Login User Name</label>
              <input [(ngModel)]="enteredMemberCredentials.userName" type="text" class="form-control input-sm"
                     autocomplete="username"
                     name="userName"
                     id="prof-login-user-name"
                     placeholder="Enter login user name here">
            </div>
          </div>
          <form class="col col-sm-12">
            <form class="form-group">
              <label for="prof-new-password">New Password</label>
              <input [(ngModel)]="enteredMemberCredentials.newPassword" type="password"
                     autocomplete="off"
                     name="new-password"
                     class="form-control input-sm" id="prof-new-password" placeholder="Enter new password">
            </form>
          </form>
          <div class="col col-sm-12">
            <form class="form-group">
              <label for="prof-new-password-confirm">Confirm New Password</label>
              <input [(ngModel)]="enteredMemberCredentials.newPasswordConfirm" type="password"
                     autocomplete="off"
                     name="newPassword"
                     class="form-control input-sm" id="prof-new-password-confirm"
                     placeholder="Confirm new password">
            </form>
          </div>
          <div class="col col-sm-12">
            <input type="submit" [disabled]="false" value="Back to admin" (click)="profileService.backToAdmin()"
                   class="button-form button-form-left">
            <input type="submit" [disabled]="false" value="Reset Password" (click)="saveLoginDetails()"
                   [ngClass]="member && !notifyTarget.busy? 'button-form button-form-left': 'disabled-button-form button-form-left'">
            <input type="submit" value="Undo Changes" (click)="undoLoginDetails()"
                   [ngClass]="member && !notifyTarget.busy? 'button-form button-form-left': 'disabled-button-form button-form-left'">
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col col-sm-12">
        <div class="alert {{notifyTarget.alertClass}} mt-3" *ngIf="notifyTarget.showAlert">
          <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
          <strong *ngIf="notifyTarget.alertTitle">
            {{notifyTarget.alertTitle}}: </strong> {{notifyTarget.alertMessage}}
          <span *ngIf="notifyTarget.showContactUs"> contact our <app-contact-us class="alert-link" role="membership"
                                                                                text="Membership Administrator"></app-contact-us>
          </span>
        </div>
      </div>
    </div>
  </div>
</app-page>
