<app-page>
  <app-social-carousel [notifyTarget]="notifyTarget"></app-social-carousel>
  <app-social-search [filterParameters]="filterParameters"
                     [notifyTarget]="notifyTarget">
    <pagination pagination class="pagination rounded" [boundaryLinks]=true [rotate]="true" [maxSize]="5"
                [totalItems]="filteredSocialEvents?.length" [(ngModel)]="pageNumber"
                (pageChanged)="pageChanged($event)"></pagination>
  </app-social-search>
  <app-social-list-cards [filterParameters]="filterParameters" [notifyTarget]="notifyTarget"
                         [filteredSocialEvents]="currentPageSocials">
  </app-social-list-cards>
</app-page>
