<app-card-container>
  <h5 class="card-title cta-button cta-instagram rounded"><a [href]="externalSystems?.instagram?.groupUrl + '/' + externalSystems?.instagram?.groupName">
    <img class="instagram-image"
         src="/assets/images/local/instagram.png"><span
    class="instagram-title float-right">{{ externalSystems?.instagram?.groupName }}</span></a>
  </h5>
  <p class="card-text">
    <app-dynamic-content [anchor]="'instagram-content'" contentPathReadOnly/>
    @if (recentMedia?.length > 0) {
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      @for (media of recentMedia; track media) {
        <a [href]="media.permalink" target="_blank"
           delay="500" [tooltip]="dateUtils.displayDate( media.timestamp) + ' - ' + media.caption" [placement]="'top'">
          <img [src]="media?.media_url" [alt]="media?.caption" class="rounded img-thumbnail"
               [style]="'width:' + imageWidth(media)+'; height: '+ imageHeight(media)"/>
        </a>
      }
    }
  </p>
</app-card-container>
