<app-page>
  <h3 class="card-title ml-3 mb-4">Meetup Settings
    <fa-icon [icon]="faMeetup" class="sfa-2x meetup"></fa-icon>
  </h3>
  <div class="card-text">
    <div class="col-sm-12">
      <tabset class="custom-tabset" #tabs>
        <tab active="true" heading="Maintain description content">
          <div class="img-thumbnail thumbnail-admin-edit">
            <div class="mb-2">
              <ul class="list-arrow">
                <li>Here you can configure content text that will automatically be added to the beginning of
                  the walk description on Meetup events we create.
                </li>
              </ul>
              <div class="row mb-2">
                <div class="col-sm-12">
                  <div class="form-inline">
                    <div class="form-group">
                      <label for="type" class="inline-label">Content item: </label>
                      <select class="form-control input-sm"
                              [ngModel]="selectedContent"
                              (ngModelChange)="onChange($event)"
                              class="form-control"
                              id="type">
                        @for (contentText of contentTextItems; track contentText.id) {
                          <option
                            [ngValue]="contentText"
                            [textContent]="contentText.name">
                          </option>
                        }
                      </select>
                    </div>
                    <div class="form-group">
                      <input type="submit" value="Add new content" (click)="addNewContent()"
                             title="Add new content"
                             class="button-form button-form-left">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="mt-2 mb-2 font-weight-bold">{{selectedContent?.name}} content:</div>
                  @for (content of contentTextItems; track content.id) {
                    @if (matching(content, selectedContent)) {
                      <div>
                        <app-markdown-editor [data]="content"
                                             [editNameEnabled]="true"
                                             [deleteEnabled]="true"
                                             [id]="content.name"
                                             [initialView]="View.EDIT"
                                             [rows]="8"/>
                      </div>
                    }
                  }
                </div>
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Publishing defaults">
          <div class="img-thumbnail thumbnail-admin-edit">
            <div markdown class="list-arrow b-2">
              <ul>
                <li>Here you can configure default settings that will be used when creating Meetup events.
                </li>
              </ul>
            </div>
            @if (config) {
              <app-walk-meetup-config-parameters [config]="config"
                                                 [contentTextItems]="contentTextItems"/>
            }
          </div>
        </tab>
      </tabset>
      <div class="form-group">
        @if (notifyTarget.showAlert) {
          <div class="alert {{notifyTarget.alertClass}}">
            <fa-icon [icon]="notifyTarget.alert.icon"/>
            <strong> {{ notifyTarget.alertTitle }}: </strong> {{ notifyTarget.alertMessage }}
          </div>
        }
      </div>
      @if (activeTabIs(1)) {
        <input type="submit" value="Save" (click)="save()"
               title="Save"
               class="button-form">
      }
      <input type="submit" value="Back To Walks Admin" (click)="backToWalksAdmin()"
             title="Back to walks"
             class="button-form">
    </div>
  </div>
</app-page>
