.btn
  display: inline-block
  font-family: "rucksack"
  color: $ramblers-colour-granite
  text-align: center
  vertical-align: middle
  user-select: none
  background-color: transparent
  border: 0 solid transparent
  padding: .688rem 1.5rem
  font-size: 1rem
  line-height: 1em
  border-radius: .25rem
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out

.btn-primary
  color: $ramblers-colour-black
  background-color: $ramblers-colour-sunrise
  border-color: $ramblers-colour-sunrise


.btn-primary.focus, .btn-primary:focus, .btn-primary:hover
  color: $ramblers-colour-black
  background-color: $ramblers-colour-sunrise-hover-background
  border-color: $ramblers-colour-sunrise-hover-border


.btn-primary.focus, .btn-primary:focus
  box-shadow: 0 0 0 .2rem rgba(217, 156, 10, .5)


.btn-primary.disabled, .btn-primary:disabled
  color: $ramblers-colour-black
  background-color: $ramblers-colour-sunrise
  border-color: $ramblers-colour-sunrise


.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle
  color: $ramblers-colour-cloudy
  background-color: $ramblers-colour-sunrise-hover-border
  border-color: #ba8403


.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus
  box-shadow: 0 0 0 .2rem rgba(217, 156, 10, .5)


.btn-secondary
  color: $ramblers-colour-black
  background-color: $ramblers-colour-cloudy
  border-color: $ramblers-colour-cloudy


.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:hover
  color: $ramblers-colour-black
  background-color: #e6e6e6
  border-color: #e0e0e0


.btn-secondary.focus, .btn-secondary:focus
  box-shadow: 0 0 0 .2rem rgba(217, 217, 218, .5)


.btn-secondary.disabled, .btn-secondary:disabled
  color: $ramblers-colour-black
  background-color: $ramblers-colour-cloudy
  border-color: $ramblers-colour-cloudy


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle
  color: $ramblers-colour-black
  background-color: #e0e0e0
  border-color: #d9d9d9


.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus
  box-shadow: 0 0 0 .2rem rgba(217, 217, 218, .5)


.btn-success
  color: $ramblers-colour-black
  background-color: $ramblers-colour-mintcake
  border-color: $ramblers-colour-mintcake


.btn-success.focus, .btn-success:focus, .btn-success:hover
  color: $ramblers-colour-black
  background-color: #82ba96
  border-color: #7ab68f


.btn-success.focus, .btn-success:focus
  box-shadow: 0 0 0 .2rem rgba(137, 176, 152, .5)


.btn-success.disabled, .btn-success:disabled
  color: $ramblers-colour-black
  background-color: $ramblers-colour-mintcake
  border-color: $ramblers-colour-mintcake


.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle
  color: $ramblers-colour-black
  background-color: #7ab68f
  border-color: #72b188


.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus
  box-shadow: 0 0 0 .2rem rgba(137, 176, 152, .5)


.btn-info
  color: $ramblers-colour-cloudy
  background-color: #17a2b8
  border-color: #17a2b8


.btn-info.focus, .btn-info:focus, .btn-info:hover
  color: $ramblers-colour-cloudy
  background-color: #138496
  border-color: #117a8b


.btn-info.focus, .btn-info:focus
  box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5)


.btn-info.disabled, .btn-info:disabled
  color: $ramblers-colour-cloudy
  background-color: #17a2b8
  border-color: #17a2b8


.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle
  color: $ramblers-colour-cloudy
  background-color: #117a8b
  border-color: #10707f


.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus
  box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5)


.btn-warning
  color: $ramblers-colour-black
  background-color: $ramblers-colour-sunrise
  border-color: $ramblers-colour-sunrise


.btn-warning.focus, .btn-warning:focus, .btn-warning:hover
  color: $ramblers-colour-black
  background-color: $ramblers-colour-sunrise-hover-background
  border-color: $ramblers-colour-sunrise-hover-border


.btn-warning.focus, .btn-warning:focus
  box-shadow: 0 0 0 .2rem rgba(217, 156, 10, .5)


.btn-warning.disabled, .btn-warning:disabled
  color: $ramblers-colour-black
  background-color: $ramblers-colour-sunrise
  border-color: $ramblers-colour-sunrise


.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle
  color: $ramblers-colour-cloudy
  background-color: $ramblers-colour-sunrise-hover-border
  border-color: #ba8403


.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-warning.dropdown-toggle:focus
  box-shadow: 0 0 0 .2rem rgba(217, 156, 10, .5)


.btn-danger
  color: $ramblers-colour-cloudy
  background-color: #dc3545
  border-color: #dc3545


.btn-danger.focus, .btn-danger:focus, .btn-danger:hover
  color: $ramblers-colour-cloudy
  background-color: #c82333
  border-color: #bd2130


.btn-danger.focus, .btn-danger:focus
  box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)


.btn-danger.disabled, .btn-danger:disabled
  color: $ramblers-colour-cloudy
  background-color: #dc3545
  border-color: #dc3545


.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle
  color: $ramblers-colour-cloudy
  background-color: #bd2130
  border-color: #b21f2d


.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show > .btn-danger.dropdown-toggle:focus
  box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)


.btn-light
  color: $ramblers-colour-black
  background-color: $ramblers-colour-cloudy
  border-color: $ramblers-colour-cloudy


.btn-light.focus, .btn-light:focus, .btn-light:hover
  color: $ramblers-colour-black
  background-color: #e6e6e6
  border-color: #e0e0e0


.btn-light.focus, .btn-light:focus
  box-shadow: 0 0 0 .2rem rgba(217, 217, 218, .5)


.btn-light.disabled, .btn-light:disabled
  color: $ramblers-colour-black
  background-color: $ramblers-colour-cloudy
  border-color: $ramblers-colour-cloudy


.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle
  color: $ramblers-colour-black
  background-color: #e0e0e0
  border-color: #d9d9d9


.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show > .btn-light.dropdown-toggle:focus
  box-shadow: 0 0 0 .2rem rgba(217, 217, 218, .5)

.button-image
  background-position: 4px 8px
  background-size: 14px
  background-image: url("../images/ramblers/icons/ramblers_icon_2_arrow_forward_rgb.png")
  background-repeat: no-repeat

.button-form
  @extend .button-image
  margin: 0px 4px 0px 0px
  background-color: $ramblers-colour-granite
  color: $ramblers-colour-cloudy
  border: none
  padding: 8px 10px 8px 22px
  font-size: 11px
  -webkit-border-radius: 6px 6px 6px 6px
  -moz-border-radius: 6px 6px 6px 6px
  border-radius: 6px 6px 6px 6px
  position: relative
  font-weight: 700
  height: 29.5px

.button-form:hover
  @extend .button-image
  background-color: $ramblers-colour-black
  border-color: $ramblers-colour-hover
  cursor: pointer


.disabled-button-form
  @extend .button-image
  margin: 0px 4px 0px 0px
  background-color: $disabled-color
  color: rgb(230, 230, 230)
  border: none
  padding: 8px 10px 8px 22px
  font-size: 11px
  font-weight: bold
  -webkit-border-radius: 6px 6px 6px 6px
  -moz-border-radius: 6px 6px 6px 6px
  border-radius: 6px 6px 6px 6px
  position: relative


.disabled-button-form:hover
  @extend .button-image
  background-color: $disabled-color
  cursor: not-allowed

.button-form-in-tab
  margin: 6px 6px 6px 0px
  float: left


.cta-red, .cta-red a, .cta-red:hover, .cta-red a:hover
  @extend .button-image
  background-color: $confirm-initial

.cta-blue, .cta-blue a, .cta-blue:hover, .cta-blue a:hover
  background: #007A87

.button-form-left
  float: left
  margin-right: 6px


.button-form-right
  margin: 0px 0px 0px 0px
  float: right


.button-form-edit-event
  margin: 3px 0px 8px 12px
  float: right


.button-contact-us
  margin: 9px -11px 0px 0
  float: right


.button-form-right:visited
  color: $ramblers-colour-cloudy

.button-confirm
  @extend .button-image
  background-color: $confirm-initial

.button-confirm:hover
  @extend .button-image
  background-color: $confirm-hover


.green-confirm
  @extend .button-image
  background-color: #1D9630


.green-confirm:hover
  @extend .button-image
  background-color: rgb(32, 191, 57)


.amber-confirm
  @extend .button-image
  background-color: #e89349


.amber-confirm:hover
  @extend .button-image
  background-color: #FFA64D


.blue-confirm
  @extend .button-image
  background-color: #007C89


.blue-confirm:hover
  @extend .button-image
  background-color: #0097a4


.yellow-confirm
  @extend .button-image
  background-color: $admin-color

.yellow-confirm:hover
  @extend .button-image
  background-color: #d6d072

.cta-button
  margin: 0 0 20px 0
  float: left
  width: 100%
  color: $ramblers-colour-cloudy
  padding: 7px 0

.cta-button a
  display: block
  padding: 5px 16px 5px 35px
  font-size: 16px
  font-weight: bold
  color: $ramblers-colour-cloudy

.cta-button p
  padding: 0 15px
