@import "./colours"

.form-check-input[type="checkbox"]:checked,
.form-check-input[type="checkbox"]:indeterminate
  background-color: $ramblers-colour-sunrise
  border-color: $ramblers-colour-sunrise

.form-check-input[type="checkbox"]:disabled:checked
  background-color: $ramblers-colour-grey
  border-color: $ramblers-colour-grey
