@import "colours"

.event-thumbnail h1
  font-size: 19px
  font-style: normal

.event-thumbnail h2
  font-size: 16px
  font-weight: bold

.event-thumbnail h3
  font-size: 16px
  font-weight: bold

.event-panel
  padding: 14px 10px 12px 21px
  background-color: #eeeeee
  min-height: 100px
  vertical-align: bottom


.event-panel-inner
  margin-bottom: 21px


.event-panel h1
  font-size: 16px
  font-weight: bold


.event-panel p
  margin: 0 0 6px 0


.event-dialog-thumbnail-image
  float: right
  margin: 23px 0
  width: 100%

.event-thumbnail-image
  width: 280px
  float: right
  margin: 0 0 20px 20px

.event-thumbnail
  padding: 22px 24px 20px 24px
  margin: 6px 0 12px
  border-radius: 6px

.thumbnail-admin-edit
  padding: 24px 24px 12px 24px
  margin: 0px 0px 9px 0px
  -webkit-border-radius: 0px 0px 6px 6px
  -moz-border-radius: 0px 6px 6px 6px
  border-radius: 0px 0px 6px 6px

.thumbnail-walk-edit
  padding: 13px 10px 13px 15px
  margin: 6px 0px 12px 0px
  border-radius: 6px

.thumbnail-2
  padding: 13px 10px 12px 15px
  margin: 18px 0px 20px 0px
  border-radius: 6px

.thumbnail-heading
  position: relative
  top: -26px
  margin-left: 0px
  margin-bottom: -14px
  padding-top: 2px
  background-color: white
  display: table
  font-size: 17px
  font-weight: bold

.map-radio-group
  padding: 0px
  margin: 0px
  font-weight: bold
  vertical-align: middle

