@import "./colours"

%pager-base
  display: inline-flex
  align-items: center
  justify-content: center
  padding-top: .75rem
  padding-bottom: .75rem
  line-height: 1
  border: 1px solid $ramblers-colour-grey
  border-radius: 6px
  font-weight: 600

%pager-quiet
  color: $ramblers-colour-black
  background-color: $ramblers-colour-grey
  border-color: $ramblers-colour-grey

%pager-quiet-hover
  color: $ramblers-colour-black
  background-color: $ramblers-colour-sunrise
  border-color: $ramblers-colour-sunrise

%pager-quiet-active
  color: $ramblers-colour-black
  background-color: $ramblers-colour-sunrise
  border-color: $ramblers-colour-sunrise
  font-weight: 700

%pager-quiet-disabled
  color: rgba($ramblers-colour-black, .4)
  background-color: rgb(236, 238, 240)
  border-color: rgb(236, 238, 240)
  cursor: not-allowed
  pointer-events: none
  opacity: .7

.pagination
  .page-item
    margin-right: 8px

  .page-link
    @extend %pager-base
    @extend %pager-quiet

  .page-item:not(.disabled):not(.active) .page-link:hover,
  .page-item:not(.disabled):not(.active) .page-link:focus
    @extend %pager-quiet-hover

  .page-item.active .page-link
    @extend %pager-base
    @extend %pager-quiet-active

  .page-item.disabled .page-link
    @extend %pager-base
    @extend %pager-quiet-disabled

@media (max-width: 576px)
  .pagination
    flex-wrap: nowrap
    .page-item:not(.pagination-first):not(.pagination-prev):not(.pagination-next):not(.pagination-last)
      display: none
    .page-item
      margin-right: .5rem

.pager-btn
  @extend %pager-base
  @extend %pager-quiet

.pager-btn:hover, .pager-btn:focus
  @extend %pager-quiet-hover

.pager-btn:active, .pager-btn.active, .show > .pager-btn.dropdown-toggle
  @extend %pager-quiet-active
  background-color: $ramblers-colour-sunrise-hover-border
  border-color: $ramblers-colour-sunrise-hover-border

.full-width-pagination
  width: 100%
  align-items: center
  .row
    width: 100%
    &.g-0
      width: 100%
    > .col-12.col-md.d-flex
      flex: 1 1 auto
      max-width: 100%
  .pagination
    width: 100%
    display: flex
    .page-item
      flex: 1 1 0
      &:last-child
        margin-right: 0
    .page-link
      width: 100%
      text-align: center

.alert-wrapper
  flex-basis: 100%
  flex-shrink: 0
  display: flex
  align-items: center

  .search-alert
    width: 100%

@media (min-width: 992px)
  .alert-wrapper
    flex: 1 1 0
    flex-shrink: 1

@media (max-width: 767.98px)
  .events-header-full-width
    .pagination
      width: 100%
      display: flex
      .page-item
        flex: 1 1 0
        &:last-child
          margin-right: 0
      .page-link
        width: 100%
        text-align: center
