@import "./colours"

.form-check-input[type="radio"]
  width: 1.25rem
  height: 1.25rem
  margin-top: .1rem
  background-color: #fff
  border: 1px solid #adb5bd

.form-check-input[type="radio"]:checked
  background-color: $ramblers-colour-sunrise
  border-color: $ramblers-colour-sunrise

.form-check-input[type="radio"]:disabled:checked
  background-color: $ramblers-colour-granite
  border-color: $ramblers-colour-granite

.form-check-inline
  margin-right: 1rem
