@import "bootstrap"
@import "./colours"
@import "./tagify"
@import "./bs-datepicker"
@import "./ui-switch"
@import "./tagify"
@import "./ramblers.select.theme"
@import "./legacy"
@import "./ramblers"
@import "./alerts"
@import "./buttons"
@import "./backgrounds"
@import "./text"
@import "./lists"
@import "./new-lists"
@import "./links"
@import "./frames"
@import "./radios"
@import "./checkboxes"
@import "./icons"
@import "./pagination"
@import "./content-edit"
@import "./tables"
@import "./tabs"
@import "./cursors"
@import "./notifications"
@import "./cards"
@import "@angular/cdk/overlay-prebuilt.css"

// media breakpoints
// col-sm for larger mobile phones (devices with resolutions ≥ 576px)
// col-md for tablets (≥768px)
// col-lg for laptops (≥992px)
// col-xl for desktops (≥1200px)

.tagify__tag
  margin: 4px 0px 0px 4px

.drop-zone
  border: dotted 3px lightgray
  border-radius: 6px
  padding: 6px
  text-align: center
  height: 47px
  margin-top: 6px
  cursor: grabbing

.badge-drop-zone
  border: dotted 3px lightgray
  border-radius: 6px
  text-align: center
  height: 60px
  margin-top: 0px
  cursor: grabbing
  padding-top: 14px

.badge-drop-zone-single-height
  @extend .badge-drop-zone
  height: 30px
  padding-top: 0px

.file-over
  border: dotted 3px green
  min-height: 100px
