<div style="font-size:12px">
    <p>We are sorry to let you know that the {{group?.shortName}} expense claim you created on <span [textContent]="display.expenseClaimCreatedEvent(expenseClaim).date | displayDate" class="nowrap"></span>
        with the <span [textContent]="expenseClaim.expenseItems.length"></span> item(s) listed below has been returned to you:
    </p>
    <app-expense-notification-details [expenseClaim]="expenseClaim"></app-expense-notification-details>
    <p *ngIf="display.expenseClaimLatestEvent(expenseClaim).reason">The reason we can't process your expense claim is as follows: <span [textContent]="display.expenseClaimLatestEvent(expenseClaim).reason"></span>.</p>
</div>
