<div class="img-thumbnail thumbnail-admin-edit">
  <app-markdown-editor [category]="'risk-assessments'" [name]="'risk-assessments-heading'"
                       [description]="'Risk Assessments Heading'"></app-markdown-editor>
  <app-walk-risk-assessment-section [displayedWalk]="displayedWalk"
                                    [riskAssessmentSection]="'Traffic'">

  </app-walk-risk-assessment-section>
  <app-walk-risk-assessment-section [displayedWalk]="displayedWalk"
                                    [riskAssessmentSection]="'Path surface and obstacles'">

  </app-walk-risk-assessment-section>
  <app-walk-risk-assessment-section [displayedWalk]="displayedWalk"
                                    [riskAssessmentSection]="'Animals'">

  </app-walk-risk-assessment-section>
  <app-walk-risk-assessment-section [displayedWalk]="displayedWalk"
                                    [riskAssessmentSection]="'Communications'">

  </app-walk-risk-assessment-section>
  <app-walk-risk-assessment-section [displayedWalk]="displayedWalk"
                                    [riskAssessmentSection]="'Other'">
  </app-walk-risk-assessment-section>
  <div class="form-group">
    @if (notifyTarget.showAlert) {
      <div class="alert {{notifyTarget.alertClass}}">
        <fa-icon [icon]="notifyTarget.alert.icon"></fa-icon>
        <strong> {{ notifyTarget.alertTitle }}: </strong>
        {{ notifyTarget.alertMessage }}
      </div>
    }
  </div>
</div>
