:host
  display: flex
  flex-direction: column
  min-width: 0

:host.labelled-field-grow
  flex: 1

label
  margin-bottom: 0.25rem

.labelled-field-control
  flex: 1
  display: flex
  align-items: center
