<div *ngIf="false" class="form-inline mt-2">
  <label for="meetup-event-url">Link to <select [disabled]="!displayedWalk.walk.meetupPublish"
                                                class="form-control input-sm"
                                                [(ngModel)]="meetupEventStatus"
                                                (ngModelChange)="meetupEventStatusChanged($event)"
                                                class="form-control"
                                                id="meetup-event-status">
    <option *ngFor="let meetupEventStatus of meetupService.meetupEventStatuses() ;"
            [ngValue]="meetupEventStatus"
            [textContent]="meetupEventStatus">
    </option>
  </select> Meetup event:</label>
</div>
<div *ngIf="false" class="form-group mt-6">
  <select class="form-control input-sm"
          [disabled]="!displayedWalk.walk.meetupPublish"
          [(ngModel)]="meetupEvent"
          (ngModelChange)="meetupEventUrlChange($event)"
          class="form-control"
          id="meetup-event-url">
    <option *ngFor="let meetupEvent of meetupEvents;"
            [ngValue]="meetupEvent"
            [textContent]="meetupEvent | meetupEventSummary">
    </option>
  </select>
</div>
<div *ngIf="false" class="form-group">
  <label for="meetup-title">Meetup event title</label>
  <input [disabled]="!allowEdits() && !displayedWalk.walk.meetupPublish"
         [ngModel]="displayedWalk.walk.meetupEventTitle"
         type="text" value="" class="form-control input-sm"
         id="meetup-title"
         placeholder="Enter optional title for Meetup event">
</div>
