<div class="col-sm-12">
  <div class="row img-thumbnail thumbnail-walk-edit">
    <div class="thumbnail-heading">Meetup</div>
    <div class="d-none">
      <ng-template app-notification-directive/>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <app-markdown-editor name="meetup-help" description="Linking to Meetup"/>
      </div>
    </div>
    <div class="row">
      @if (allowEdits()) {
        <div class="col-sm-12">
          <div class="custom-control custom-checkbox">
            <input [disabled]="!allowEdits() || saveInProgress"
                   (ngModelChange)="changedPublishMeetup($event)"
                   [(ngModel)]="displayedWalk.walk.meetupPublish"
                   type="checkbox" class="custom-control-input" id="walk-publish-meetup">
            <label class="custom-control-label"
                   for="walk-publish-meetup">Publish this walk to Meetup
            </label>
          </div>
        </div>
      }
    </div>
    @if (displayedWalk.walk.meetupPublish) {
      <div>
        <div class="row">
          <div class="col-sm-12">
            @if (contentTextItems.length > 0 && meetupConfigExists()) {
              <app-walk-meetup-config-parameters
                [contentTextItems]="contentTextItems"
                [renderMarkdownField]="!meetupEventDescriptionExists()"
                [config]="displayedWalk.walk.config.meetup"/>
            }
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-2 mt-3">
            @if (meetupConfigExists()) {
              <app-markdown-editor
                [initialView]="view"
                [name]="'meetup-event-description'"
                [category]="ContentTextCategory.MEETUP_DESCRIPTION_PREFIX"
                [text]="meetupEventDescription"
                [rows]="7"
                [description]="'Meetup event description'"/>
            }
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <label for="meetup-event-url">Meetup Event Url</label>
            <input [(ngModel)]="displayedWalk.walk.meetupEventUrl"
                   [disabled]="inputDisabled()"
                   type="text" class="form-control input-sm"
                   id="meetup-event-url"
                   placeholder="Enter URL to Meetup Event">
          </div>
        </div>
        @if (allowEdits()) {
          <div class="col-sm-8">
            @if (displayedWalk.walk.meetupEventUrl) {
              <div class="form-group">
                <label>Link preview:
                  <img class="related-links-image" src="/assets/images/local/meetup.ico"
                       alt=""/>
                  <a target="_blank"
                     [href]="displayedWalk.walk.meetupEventUrl">
                    <span class="related-links-title"
                          tooltip="Click to view this walk in Meetup">
                    View {{ meetupService.meetupPublishedStatus(displayedWalk) }} event on Meetup</span>
                  </a></label>
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
